<ion-header class="main-header ">
  <ion-toolbar>
    <ion-button slot="end" class="cart" fill="clear" (click)="toCart()">
      @if((cartService.items?.length)){
      <span>{{cartService.items?.length}}</span>
      }
      <ion-img slot="icon-only" src="../../../assets/imgs/cart.svg">
      </ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="navCtrl.navigateForward('notifications')">
      <ion-img slot="icon-only" src="../../../assets/imgs/bell.svg"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>

    <ion-img slot="start" src="../../../assets/imgs/logo-icon.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="header fade-in">
      <section>الحساب</section>
      @if(authService.user()){
      <div class="user">
        <ion-button fill="clear" (click)="showAccountOptions($event)">
          <ion-icon name="ellipsis-vertical" id="order-options"></ion-icon>
        </ion-button>

        <div>
          <div>
            <h3>{{authService.user()?.username}}</h3>
            <p>{{'karim.ali@mail.com'}}</p>
          </div>
          <ion-img src="../../../assets/imgs/user-img.svg"></ion-img>
        </div>
      </div>
      }
    </div>


    <div class="account-data">

      <!-- Empty Ele -->
      @if(empty) {
      <div class="empty fade-in" style="display: flex;flex-direction: column;align-items: center;">
        <img src="../../../assets/imgs/logo-icon.svg" alt="">
        <h3>لا يوجد بيانات</h3>
      </div>
      }

      <!-- Error Ele -->
      @if(error) {
      <div class="empty fade-in" style="display: flex;flex-direction: column;align-items: center;">
        <img src="../../../assets/imgs/logo-icon.svg" alt="">
        <h3>حدث خطا . تحقق من الشبكة</h3>
      </div>
      }

      @if(!error&&!empty){
      <div class="card fade-in">
        <ion-img src="../../../assets/imgs/store-location-01.svg"></ion-img>
        <p>قائمة الفروع</p>
      </div>
      <div class="card fade-in" (click)="contactModal.present()">
        <ion-img src="../../../assets/imgs/call.svg"></ion-img>
        <p>إتصل بنا</p>
      </div>
      <div class="card fade-in">
        <ion-img src="../../../assets/imgs/Side menu icon.svg"></ion-img>
        <p>سياسة الخصوصية</p>
      </div>
      <div class="card fade-in" (click)="logOut()">
        <ion-img src="../../../assets/imgs/logout.svg"></ion-img>
        <p>تسجيل {{!authService.user()?"الدخول":"الخروج"}}</p>
      </div>
      }
    </div>

  </div>

  <ion-modal trigger="contact-us" #contactModal>
    <ng-template>
      <ion-header class="custom-header  " style="display: flex;justify-content: end;">
        <ion-toolbar>
          <ion-button slot="start" (click)="contactModal.dismiss()" fill="clear">
            <ion-icon color="dark" name="chevron-back"></ion-icon>
          </ion-button>
          <ion-label slot="start">تواصل معنا</ion-label>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div>
          <!-- <p></p> -->
          <h2>وسائل التواصل</h2>
          <div class="contacts">

            <div class="ion-activatable" (click)="contact('tel',companyInfo.phone)">
              <ion-ripple-effect></ion-ripple-effect>
              <p>{{companyInfo?.phone}}</p>
              <ion-img src="../../../assets/imgs/call.svg" slot="end"></ion-img>
            </div>

            <div class="ion-activatable" (click)="contact('insta',companyInfo.instagram)">
              <ion-ripple-effect></ion-ripple-effect>
              <p>{{companyInfo.instagram}}</p>
              <ion-icon name="logo-instagram" slot="end"></ion-icon>
            </div>

            <div class="ion-activatable" (click)="contact('fb',companyInfo.facebook)">
              <ion-ripple-effect></ion-ripple-effect>
              <p>{{companyInfo.facebook||'ليس لدينا حساب علي الفيسبوك'}}</p>
              <ion-img src="../../../assets/imgs/facebook.svg" slot="end"></ion-img>
            </div>

            <div class="ion-activatable" (click)="contact('wa',companyInfo.whatsapp)">
              <ion-ripple-effect></ion-ripple-effect>
              <p> {{companyInfo.whatsapp}}</p>
              <ion-img src="../../../assets/imgs/whatsup.svg" slot="end"></ion-img>
            </div>

            <div class="ion-activatable" (click)="contact('geo',companyInfo.location)">
              <ion-ripple-effect></ion-ripple-effect>
              <p>{{companyInfo?.location||companyInfo?.address}}</p>
              <ion-img src="../../../assets/imgs/location.svg" slot="end"></ion-img>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>