<ion-content>

  <div class="page-header">
      <section>التخفيضات</section>
    <div class="filter">
      <ion-button class="no-color-button" id="homeFilterModal">
        <ion-img src="../../../assets/imgs/filter.svg" slot="icon-only"></ion-img>
      </ion-button>
      <ion-input (keyup.enter)="search($event)" placeholder="...ابحث عن منتج">
        <ion-icon name="search-outline"></ion-icon>
      </ion-input>
    </div>

    <ion-segment [(ngModel)]="segment" class="nav-segments" value="discounts" (ionChange)="toggleSegement($event)">
      <ion-segment-button value="offers">العروض</ion-segment-button>
      <ion-segment-button value="discounts">الخصومات</ion-segment-button>
    </ion-segment>
  </div>
  <div class="container">



    @if(segment==='offers'){

    <div class="offers-cards">
      @if(!isLoading){

      @for (offer of offers; track $index) {
      <div class="offer fade-in">
        <img [src]="offer.image||'../../../assets/imgs/prod.png'">
        <ion-button class="no-color-button" (click)="toOffer(offer)">
          <ion-label>تفقد المنتجات</ion-label>
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </div>
      }

      }
      @else {
      <ion-skeleton-text class="offer" *ngFor="let i of [1,2,3]"></ion-skeleton-text>
      }
    </div>


    @if(empty) {
    <div class="empty" style="display: flex;flex-direction: column;align-items: center;">
      <img src="../../../assets/imgs/logo-icon.svg" alt="">
      <h3>لا يوجد عروض في الوقت الحالي 🥲</h3>
    </div>
    }

    @if(error) {
    <div class="empty" style="display: flex;flex-direction: column;align-items: center;">
      <img src="../../../assets/imgs/logo-icon.svg" alt="">
      <h3> حدث خطا . تحقق من الشبكة</h3>
    </div>
    }

    }
    @if(segment==='discounts'){
    @if(!isLoading){

    <div class="discounts-filter" *ngIf="discountCategories">
      <ion-segment [value]="discountCategories[0]?._id" [scrollable]="true">
        <ion-segment-button *ngFor="let category of discountCategories" [value]="category._id"
          class="fade-in">{{category.name}}</ion-segment-button>
      </ion-segment>
      <ion-icon name="chevron-down-outline" (click)="openCustomModal()"></ion-icon>
    </div>

    }@else{
    <div class="discounts-filter">
      <div class="loading-segments">
        <ion-skeleton-text *ngFor="let i of [1,2,3,4,5]" animated="true"></ion-skeleton-text>
      </div>
      <ion-icon name="chevron-down-outline" (click)="openCustomModal()"></ion-icon>
    </div>
    }

    <div class="discounts">

      <div class="discounts-cards">
        @if(!isLoading){
        @for(prod of discounts; track $index){

        <div class="card fade-in">
          <div class="card-content" [routerLink]="'/product/'+prod._id">
            <ion-img [src]="prod.image||'../../../assets/imgs/logo-icon.svg'"></ion-img>
            <p> {{prod.name}} </p>
            <div>
              @if(prod.discountPrice){
              <h3 class="before-discount">
                {{prod.price |number}} د.ع
              </h3>
              }
              <h3>{{prod.finalPrice|number}} د.ع</h3>
            </div>
          </div>
          <ion-button (click)="addToCart(prod)">
            <ion-label>أضف للسلة</ion-label>
            <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
          </ion-button>

          <div class="addition-btns">
            <ion-button (click)="addToFavorite(prod)" class="no-color-button">
              <ion-icon [name]="prod.isFav?'heart':'heart-outline'" [color]="prod.isFav?'primary':'dark'"
                slot="icon-only"></ion-icon>
            </ion-button>
            <div class="btns">

              @if(prod.new){
              <span
                [class]="(prod.offer&&prod.new)|| (prod.new&&prod.special)||(prod.special&& prod.offer)?'extra':'expanded'">
                <ion-img src="../../../assets/imgs/stars.svg" slot="icon-only"></ion-img>
                @if(!prod.special&&!prod.offer){جديد}
              </span>
              }
              @if(prod.offer){

              <span [class]="(prod.offer&&prod.new)|| (prod.new&&prod.special)||(prod.special&&
                  prod.offer)?'extra':'expanded'">
                <ion-img src="../../../assets/imgs/offer-icon.svg" slot="icon-only"></ion-img>
                @if(!prod.new&&!prod.special){خصم}
              </span>
              }
              @if(prod.special){
              <span [class]="(prod.offer&&prod.new)|| (prod.new&&prod.special)||(prod.special&&
                  prod.offer)?'extra':'expanded'">

                <ion-img src="../../../assets/imgs/trend-icon.svg" slot="icon-only"></ion-img>
              </span>
              }
            </div>
          </div>
        </div>
        }

        }@else {
        <ion-skeleton-text class="card" animated *ngFor="let i of [1,2,3,4]"></ion-skeleton-text>
        }
      </div>
      @if(empty) {
      <div class="empty" style="display: flex;flex-direction: column;align-items: center;">
        <img src="../../../assets/imgs/logo-icon.svg" alt="">
        <h3>There Is No Discounts To View At The Moment 🥲</h3>
      </div>
      }
    </div>

    }

  </div>


  <ion-modal class="filter" trigger="homeFilterModal" #homeFilterModal>
    <ng-template>
      <ion-header class="custom-header  modal-header">
        <div class="content" style="justify-content:end;border-bottom: 1px solid rgba(240,239,222,1);">
          <div>
            <ion-label>فلتر</ion-label>
            <ion-button class="no-color-button no-padding" (click)="homeFilterModal.dismiss()">
              <ion-icon name="chevron-forward" slot="icon-only" style="color: black;"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-header>

      <ion-content>
        <div class="filter-content">
          <div class="colors">
            <h3>اللون</h3>
            <ion-segment value="اخضر">
              <ion-segment-button value="اخضر"><span></span></ion-segment-button>
              <ion-segment-button value="احمر"><span></span></ion-segment-button>
              <ion-segment-button value="ذهبي"><span></span></ion-segment-button>
            </ion-segment>
          </div>

          <div class="prices">
            <h3>السعر($)</h3>
            <div class="range-wrapper">
              <div class="fake-knob start"></div>
              <ion-range dir="rtl" [dualKnobs]="true" min="5" max="105" [value]="{ lower: 5, upper: 55 }" [pin]="true"
                class="custom-range"></ion-range>
              <div class="fake-knob end"></div>
            </div>
          </div>

          <div class="options">
            <h3>متغير</h3>
            <div class="checks">
              <ion-checkbox value="1">خيار 1</ion-checkbox>
              <ion-checkbox value="2">خيار 2</ion-checkbox>
              <ion-checkbox value="3">خيار 3</ion-checkbox>
              <ion-checkbox value="4">خيار 4</ion-checkbox>
              <ion-checkbox value="5">خيار 5</ion-checkbox>
            </div>
          </div>

          <div class="sizes">
            <h3>الحجم</h3>
            <div class="checks square-checkbox">
              <ion-checkbox value="كبير">كبير</ion-checkbox>
              <ion-checkbox value="متوسط">متوسط</ion-checkbox>
              <ion-checkbox value="صغير">صغير</ion-checkbox>
            </div>
          </div>
        </div>
      </ion-content>
      <ion-footer>
        <ion-buttons>
          <ion-button (click)="null">حفظ</ion-button>
          <ion-button (click)="filterModalOpen=false">إلغاء</ion-button>
        </ion-buttons>
      </ion-footer>
    </ng-template>
  </ion-modal>



</ion-content>
