<ion-header class="main-header ">
  <ion-toolbar>
    <ion-button slot="end" class=" cart" fill="clear" (click)="toCart()">
      @if((cartService.items?.length)){
      <span>{{cartService.items?.length}}</span>
      }
      <ion-img slot="icon-only" src="../../../assets/imgs/cart.svg">
      </ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="navCtrl.navigateForward('notifications')">
      <ion-img slot="icon-only" src="../../../assets/imgs/bell.svg"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>

    <ion-img slot="start" src="../../../assets/imgs/logo-icon.svg"></ion-img>
  </ion-toolbar>


</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>


  <div class="container">
    <div class="page-header">
      <div>
        <section>التخفيضات</section>
        <div class="filter">
          <ion-input [readonly]="true" (click)="navCtrl.navigateForward('search-products')"
            placeholder="...ابحث عن منتج">
            <ion-icon name="search-outline"></ion-icon>
          </ion-input>
          <ion-button fill="clear" [routerLink]="'/search-products'">
            <ion-img src="../../../assets/imgs/filter.svg" slot="icon-only"></ion-img>
          </ion-button>
        </div>

        <ion-segment [(ngModel)]="segment" class="nav-segments" [value]="segment" (ionChange)="toggleSegement($event)">
          <ion-segment-button value="product">الخصومات</ion-segment-button>
          <ion-segment-button value="offer">العروض</ion-segment-button>
        </ion-segment>
      </div>
    </div>

    <!-- Loading Ele -->
    @if(isLoading && segment===switchEnum.discount){
    <div class="discounts-filter">
      <div class="loading-segments">
        <ion-skeleton-text *ngFor="let i of [1,2,3,4,5]" animated="true"></ion-skeleton-text>
      </div>
    </div>

    <div class="discounts">
      <div class="discounts-cards">
        <ion-skeleton-text class="card" animated *ngFor="let i of [1,2,3,4]"></ion-skeleton-text>
      </div>
    </div>
    }


    @if(isLoading && segment===switchEnum.offer){
    <div class="offers-cards">
      <ion-skeleton-text class="offer" *ngFor="let i of [1,2,3]" animated></ion-skeleton-text>
    </div>
    }

    <!-- Empty Ele -->

    @if(empty) {
    <div class="empty" style="display: flex;flex-direction: column;align-items: center;">
      <img src="../../../assets/imgs/logo-icon.svg" alt="">
      <h3>لا يوجد {{segment==switchEnum.offer?"تخفيضات":"تخفيضات"}} في الوقت الحالي</h3>
    </div>
    }

    <!-- Error Ele -->
    @if(error) {
    <div class="empty" style="display: flex;flex-direction: column;align-items: center;">
      <img src="../../../assets/imgs/logo-icon.svg" alt="">
      <h3> حدث خطا . تحقق من الشبكة</h3>
    </div>
    }



    @if(!isLoading){
    @if(segment==='offer'){

    <div class="offers-cards">

      @for (offer of offers; track $index) {
      <div class="offer fade-in">
        <app-custom-image [mainImg]="offer.image" [altImg]="'../../../assets/imgs/logo-cover.png'"></app-custom-image>
        <ion-button (click)="toOffer(offer)" fill="clear">
          <ion-label>تفقد المنتجات</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </div>
      }

    </div>

    }

    @if(segment==='product'){

    <div class="discounts-filter">
      <ion-segment [value]="selectedCategoryID" class="loading-segments">
        @for(category of discountCategories;track $index){
        <ion-segment-button (click)="filterByCategory(category._id)" [value]="category._id"> {{category.name}}
        </ion-segment-button>
        }
      </ion-segment>
      @if(discountCategories.length>=5){
      <ion-icon name="chevron-down-outline" (click)="openCustomModal()"></ion-icon>
      }
    </div>

    <div class="discounts">

      <div class="discounts-cards">
        @for(prod of discounts; track $index){

        <div class="card fade-in">
          <div class="card-content" [routerLink]="'/product/'+prod._id">
            <app-custom-image [mainImg]="prod.image"></app-custom-image>
            <p> {{prod.name}} </p>
            <div>
              @if(prod.discountPrice){
              <h3 class="before-discount">
                {{prod.price |number}} د.ع
              </h3>
              }
              <h3>{{prod.finalPrice|number}} د.ع</h3>
            </div>
          </div>
          <ion-button (click)="addToCart(prod)" [disabled]="prod.inCart">
            <ion-label> {{prod.inCart?'في السلة':'أضف للسلة'}}</ion-label>
            <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
          </ion-button>

          <div class="addition-btns">
            <ion-button (click)="addToFavorite(prod)" class="no-color-button">
              <ion-icon [name]="!prod.isFav?'heart-outline':''" color="dark"
                [src]="prod.isFav?'../../../assets/imgs/tabs-icons/favourite-active.svg':''"
                slot="icon-only"></ion-icon>
            </ion-button>
            <app-product-classes [prod]="prod"></app-product-classes>
          </div>
        </div>
        }


      </div>

    </div>

    <ion-infinite-scroll threshold="25%" [disabled]="stopLoding" position="bottom" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    }
    }
  </div>
</ion-content>