<ion-header class="custom-header">
  <img src="../../../assets/imgs/prod.png">
  <div class="content">
    <ion-button class="no-color-button">
      <ion-img src="../../../assets/imgs/cart.svg"></ion-img>
    </ion-button>
    <div>
      <div>
        <ion-label>العناية بالبشرة</ion-label>
        <p>تخفيضات هائلة على سماعات الرأس</p>
      </div>
      <ion-back-button class="no-color-button" icon="chevron-forward">
      </ion-back-button>
    </div>
  </div>
</ion-header>


<ion-content>

  <div class="container">

    <div class="offers">
      <div class="cards">
        <div class="card">
          <div class="card-content">
            <ion-img src="../../../assets/imgs/logo.svg"></ion-img>
            <p>بنطلون لجينجز تشيك كلاسيك</p>
            <h3>4,000 د</h3>
          </div>
          <ion-button>
            <ion-label>أضف للسلة</ion-label>
            <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
          </ion-button>
          <div class="addition-btns">
            <ion-button class="no-color-button">
              <ion-icon name="heart-outline" color="dark" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <ion-img src="../../../assets/imgs/logo.svg"></ion-img>
            <p>بنطلون لجينجز تشيك كلاسيك</p>
            <h3>4,000 د</h3>
          </div>
          <ion-button>
            <ion-label>أضف للسلة</ion-label>
            <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
          </ion-button>
          <div class="addition-btns">
            <ion-button class="no-color-button">
              <ion-icon name="heart-outline" color="dark" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <ion-img src="../../../assets/imgs/logo.svg"></ion-img>
            <p>بنطلون لجينجز تشيك كلاسيك</p>
            <h3>4,000 د</h3>
          </div>
          <ion-button>
            <ion-label>أضف للسلة</ion-label>
            <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
          </ion-button>
          <div class="addition-btns">
            <ion-button class="no-color-button">
              <ion-icon name="heart-outline" color="dark" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <ion-img src="../../../assets/imgs/logo.svg"></ion-img>
            <p>بنطلون لجينجز تشيك كلاسيك</p>
            <h3>4,000 د</h3>
          </div>
          <ion-button>
            <ion-label>أضف للسلة</ion-label>
            <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
          </ion-button>
          <div class="addition-btns">
            <ion-button class="no-color-button">
              <ion-icon name="heart-outline" color="dark" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </div>


      </div>

    </div>

  </div>


</ion-content>
