@import '../../../theme/mixin.scss';

ion-header{
  ion-toolbar{

    ion-label{
      font-weight: 700;margin-left: 8px;font-family: "Bold";
    }
  }
}

.notifications {
  padding: 16px;
  @include flex(8, '', '', column);

  .notif {
    width: 100%;height: 96px;
    padding: 16px;
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 12px;
    @include flex(16, '', center, row-reverse);
    &:not(.loading){
      background-color: white;
    }

    app-custom-image,
    .img {
      align-self:flex-start;
      @include shape(40, 40);
    }

    .content {
      height: 100%;
      width: calc(100% - 65px);
      @include flex(4, '', '', column);

      .title,
      .topic {
        width: 100%;
        text-align: right;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
        border-radius: 5px;
        line-height: 24px;

        p{    height: fit-content;
    font-weight: 700;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;}
        span{color:rgba(24, 24, 24, 0.32);font-size: 12px ;font-weight:500};
      }
      .title{@include flex(0,space-between,start,row-reverse)}

      >p,
      .body {
        color: rgba(24, 24, 24, 0.67);
        height: 24px;
        width: 100%;
        text-align: right;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
        border-radius: 5px;
        font-size: 14px;
        line-height: 100%;
      }
    }
  }

}
