@import '../../../theme/mixin.scss';
@import '../../../global.scss';


.notifications {
  padding: 16px;
  @include flex(8, '', '', column);

  .notif {
    width: 100%;
    padding: 16px;
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 12px;
    @include flex(16, '', center, '');
    &:not(.loading){
      background-color: white;
    }

    app-custom-image,
    .img {
      @include shape(40, 40);
      border-radius: 15px;
      border: 1px solid rgba(239, 239, 239, 1);
    }

    .content {
      flex-grow: 1;
      @include flex(4, '', '', column);

      .title,
      .topic {
        width: 100%;
        text-align: right;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
        border-radius: 5px;
        line-height: 24px;

        p{height: 24px;font-weight: 700; font-size: 16px;text-wrap: auto;height: fit-content;}
        span{color:rgba(24, 24, 24, 0.32);font-size: 12px ;font-weight:500};
      }
      .title{@include flex(0,space-between,start,'')}

      >p,
      .body {
        color: rgba(24, 24, 24, 0.67);
        height: 24px;
        width: 100%;
        text-align: right;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
        border-radius: 5px;
        font-size: 14px;
        line-height: 100%;
      }
    }
  }

}
