<ion-header class="custom-header custom-compo-header">

  <ion-toolbar>
    <ion-label slot="end"> أقسام الإلكترونيات</ion-label>
    <ion-button slot="start" class="no-color-button" (click)="dismisModal()">
      <ion-icon color="dark" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container custom-compo-container">

    <div class="compos">
      @for (category of customObjArr; track $index) {
      <div [class.checked]="category._id==currentSubId" class="compo" (click)="dismisModal(category._id)">
        <app-custom-image [mainImg]="category.image"></app-custom-image>
        <p>{{category.name}}</p>
      </div>
      }
    </div>

  </div>



</ion-content>