@import '../../../theme/mixin.scss';
@import '../../../global.scss';


*{
  text-align: center;
}

form{
  padding: 0 1em;
   @include flex(8 ,center,center,column);

   h2{
    padding-bottom: 8px;
    font-size: 1em;
    color: rgb(79, 77, 77);
   }

   ion-input{
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid lightgray;
   }

   ion-buttons{
width: 100%;
ion-button{
  flex-grow: 1;
  &:last-of-type{
    font-weight: 700;
  }
}
   }
}
