<ion-header class="main-header">
  <ion-toolbar>
    <ion-button slot="start" class="ion-activatable no-color-button" (click)="navCtrl.navigateForward('notifications')">
      <ion-img slot="icon-only" src="../../../assets/imgs/bell.svg"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button slot="start" class="ion-activatable no-color-button" (click)="toCart()">
      @if((cartService.cartProducts?.length)){
      <span>{{cartService.cartProducts?.length}}</span>
      }
      <ion-img slot="icon-only" src="../../../assets/imgs/cart.svg">
      </ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-img slot="end" src="../../../assets/imgs/logo-icon.svg"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <div class="container">

    <div class="header">
      <p>({{orders?.length||0}}) فواتير</p>
      <section>طلباتي</section>
    </div>
    <ion-segment class="filter fade-in" scrollable="true" [value]="filterStatus">
      <ion-segment-button [value]="orderStatus.REJECTED"
        (click)="filterByStatus(orderStatus.REJECTED)">مرفوض</ion-segment-button>
      <ion-segment-button [value]="orderStatus.ACCEPTED"
        (click)="filterByStatus(orderStatus.ACCEPTED)">مكتمل</ion-segment-button>
      <ion-segment-button [value]="orderStatus.WAITING"
        (click)="filterByStatus(orderStatus.WAITING)">انتظار</ion-segment-button>
      <ion-segment-button [value]="orderStatus.ALL" (click)="filterByStatus(orderStatus.ALL)">الكل</ion-segment-button>
    </ion-segment>


    <div class="orders-cards">

      @if(!isLoading&&!empty&&!error){
      @for (order of orders; track $index) {
      <div class="order-card fade-in">
        <div [routerLink]="`/order/${order._id}`">
          <ion-img src="../../../assets/imgs/invoice-01.svg"></ion-img>
          <div class="texts">
            <h3>فاتورة {{order.orderNumber}}</h3>
            <div>
              <p>{{order.order.length}} منتجات</p> <span></span>
              <p>{{order.total|number}} د.ع</p>
            </div>
          </div>
        </div>

        <div>
          <div class="texts" [routerLink]="`/order/${order._id}`">
            @if(order.status==orderStatus.WAITING){
            <ion-chip title="معلق">معلق</ion-chip>
            }
            @if(order.status==orderStatus.REJECTED){
            <ion-chip title="مرفوض">مرفوض</ion-chip>
            }
            @if(order.status==orderStatus.ACCEPTED){
            <ion-chip title="مكتمل">مكتمل</ion-chip>
            }
            <p>{{order.createdAt|fromNowPipe}}</p>
          </div>
          <ion-icon name="ellipsis-vertical" id="order-options"
            (click)="showOrderOptions($event,order,$index)"></ion-icon>
        </div>

      </div>

      }
      }@if(empty){
      <div class="empty">
        <ion-icon [src]="'../../../assets/imgs/logo-icon.svg'"></ion-icon>
        <h3 style="text-align: center;">ليس لديك طلبات
          @if(filterStatus==orderStatus.WAITING){معلقة}
          @if(filterStatus==orderStatus.REJECTED){مرفوضة}
          @if(filterStatus==orderStatus.ACCEPTED){مكتملة}
          حاليا</h3>
      </div>
      }
      @if(error){
      <div class="empty">
        <ion-icon [src]="'../../../assets/imgs/logo-icon.svg'"></ion-icon>
        <h3 style="text-align: center;"> حدث خطأ في الشبكة. تحقق من إتصالك بالإنترنت </h3>
      </div>
      }
    </div>
    @if(isLoading){
    <div class="orders-cards">
      <ion-skeleton-text class="order-card" animated *ngFor="let i of [1,2,3,4,5]">
      </ion-skeleton-text>
    </div>
    }
  </div>

  <ion-infinite-scroll threshold="25%" [disabled]="stopLoad" position="bottom" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="Circular" loadingText="جاري التحميل ...." color="primary">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>