@import '../../../theme/mixin.scss';


ion-header ion-toolbar{
   >ion-img {
      @include shape(33.15, 32);
    }
}
.empty {
  width: 100%;
  @include flex(20, center, center, column);

  ion-icon {
    // transform: rotateZ(90deg);
    font-size: 50px;
    margin: 0;
  }
}

.container {
  .header {
    margin-top: 16px;
    margin-bottom: 16px;
    @include flex(8, start, '', '');
    width: 100%;
    height: 28px;
    padding: 0 16px;
    margin-bottom: 8px;

    p {
      color: rgba(128, 128, 128, 1);
      direction: rtl;
    }

  ion-skeleton-text {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-top: 5px;
  }

  section {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    @include flex(0, end, center, '');
    padding: 0;
    font-weight: 700;font-family: "Bold";
    letter-spacing: 0px;
  }
}

  .filter {
    @include flex(8, start, '', row-reverse);
    width: 100%;
    padding: 0 16px;
    height: 40px;

    ion-segment-button,
    ion-skeleton-text {
      width: 79.75px;
      min-height: 40px;
      border-radius: 8px;
      border: 1px solid rgba(219, 219, 219, 1);
      font-weight: 700;font-family: 'Bold';
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: center;
      color: rgba(128, 128, 128, 1);
      overflow: hidden;
      --indicator-color: transparent;
      --color-checked: #{var(--ion-color-primary)};

      &.segment-button-checked {
        color: white;
        background-color: var(--ion-color-secondary);
      }
    }
  }

  .orders-cards {
    @include flex(8, end, '', column);
    flex-wrap: wrap;
    padding: 16px 16px;

    .order-card {
      direction: rtl;
      height: 86px;
      flex-grow: 1;
      min-width: 328px;
      @include flex(0, space-between, '', '');
      padding: 16px 16px 16px 8px;
      border-radius: 12px;
      background-color: white;
      border: 1px solid rgba(240, 239, 239, 1);

      >div:first-of-type {
        height: 54px;
        flex-grow: 1;
        @include flex(8, start, center, '');

        ion-img,
        .img,
        img {
          @include shape(36, 36);
          padding: 8px;
          border-radius: 50%;
          background-color: #fff1f1;
        }

        .texts {
          height: 54px;
          @include flex(0, '', flex-start, column);

          h3 {
            font-family: "Bold";
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0px;
            margin: 0
          }

          div {
            height: 26px;
            @include flex(8, '', center, '');

            p {
              color: rgba(128,128,128, 1) !important;
              font-weight: 600; font-family:'SemiBold';
              font-size: 14px;
              line-height: 26px;
              letter-spacing: 0px;
            }

            span {
              @include shape(4, 4);
              border-radius: 100%;
              background-color: rgba(217, 217, 217, 1);
            }
          }
        }
      }

      >div:last-of-type {
        height: 50px;
        @include flex(8, '', '', '');

        .texts {
          height: 50px;
          @include flex(6, '', end, column);
          // width: 64px;
          text-align: start;

          ion-chip {
            width: 52px;
            min-height: 22px;
            border-radius: 30px;
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0px;
            @include flex(6, center, center, column);
            padding: 0 8px;

            &[title='معلق'] {
              color: rgba(124, 67, 11, 1);
              background-color: rgba(255, 195, 0, 1);
            }

            &[title='مكتمل'] {
              color: rgb(255, 255, 255);
              background-color: rgba(48, 193, 167, 1);
            }

            &[title='مرفوض'] {
              color: rgb(255, 255, 255);
              background-color: rgba(226, 18, 105, 1);
            }

          }

          p {
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0px;
            color: rgba(128, 128, 128, 1) !important;
          }
        }

        ion-icon {
          @include shape(24, 24);color: black;
        }
      }
    }
  }
}
