@if(!isloading){
<ion-header class="custom-header">

  <ion-toolbar>
    <ion-button slot="start" class="no-color-button cart" routerLink="/cart">
      <ion-img src="../../../assets/imgs/cart.svg"></ion-img>
      @if((cartService.items?.length)){
      <span>{{cartService.items?.length}}</span>
      }
    </ion-button>


    <ion-label slot="end"> تفاصيل المنتج</ion-label>
    <ion-button slot="end" class="no-color-button" (click)="navCtrl.pop()">
      <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>
}

<ion-content *ngIf="!isloading">

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container">

    @if(product){
    <div class="product">

      <div class="img fade-in">
        <app-custom-image (click)="openImageModal()" [mainImg]="product.image"
          [altImg]="'../../../assets/imgs/logo-cover.png'"></app-custom-image>
      </div>

      <div class="prod-data fade-in">


        <div class="prod-title">
          {{product?.name}}
        </div>
        @if(product?.description){<div class="prod-desc">
          {{product?.description}}
          <span class="ion-activatable">
            <!-- <u style="cursor: pointer;">عرض المزيد</u> -->
            <ion-ripple-effect></ion-ripple-effect>
          </span>
        </div>}
        <div class="btns">

          @if(product.new){
          <span [class]="'expanded'">
            <ion-img src="../../../assets/imgs/stars.svg" slot="icon-only"></ion-img>
            جديد
          </span>
          }
          @if(product.offer){

          <span [class]="'expanded'">
            <ion-img src="../../../assets/imgs/offer-icon.svg" slot="icon-only"></ion-img>
            خصم
          </span>
          }
          @if(product.special){
          <span [class]="'expanded'">
            <ion-img src="../../../assets/imgs/trend-icon.svg" slot="icon-only"></ion-img>
            افضل مبيعا
          </span>
          }
        </div>
        <div class="price">
          <h3 style="direction: rtl;">{{product?.price - product?.discountPrice|number}} د.ع</h3>
          @if(product?.discountPrice){<h3 class="before-discount">{{product?.price|number}} د.ع</h3>}
        </div>
      </div>


      <!-- Product Additions -->

      @if(productAdditions?.length){
      <div class="extra">
        <h5>اضافات</h5>
        <div class="addition">
          @for (addition of productAdditions; track $index) {
          <!-- <ion-radio-group [allowEmptySelection]="true" > -->
          <ion-checkbox (ionChange)="selectAddition(addition)" [checked]="addition.isChecked">
            {{addition.name}}
            @if(addition.price){({{addition.price}})}
          </ion-checkbox>
          <!-- </ion-radio-group> -->

          }
        </div>

        <!-- <div class="colors">
          <h3>اللون</h3>
          <ion-segment [(ngModel)]="prodExtras.color">
            <ion-segment-button value="اخضر"><span></span></ion-segment-button>
            <ion-segment-button value="احمر"><span></span></ion-segment-button>
            <ion-segment-button value="ذهبي"><span></span></ion-segment-button>
          </ion-segment>
        </div> -->

        <!-- <div class="sizes">
          <h3>الحجم</h3>
          <ion-segment [(ngModel)]="prodExtras.size">
            <ion-segment-button value="كبير">كبير (٩٨٠د)</ion-segment-button>
            <ion-segment-button value="متوسط">متوسط (٩٨٧د)</ion-segment-button>
            <ion-segment-button value="صغير">صغير (٧٨٧د)</ion-segment-button>
          </ion-segment>
        </div> -->

        <!-- <ion-radio-group [allowEmptySelection]="true" (ionChange)="prodExtras.towler = !prodExtras.towler">
          <ion-radio>منشفة (٧٦٨د)</ion-radio>
        </ion-radio-group> -->

      </div>
      }



      @if(similarProducts?.length){
      <div class="similar-prods" *ngIf="similarProducts">
        <section>منتجات مشابهة</section>
        <div class="prods-cards">
          @for (prod of similarProducts; track $index) {
          <div class="card fade-in">
            <div class="card-content" [routerLink]="`/product/${prod._id}`">
              <app-custom-image [mainImg]="prod.image"></app-custom-image>
              <p> {{prod.name}}</p>
              <div>
                <h3>{{prod.price - prod.discountPrice|number}} د.ع</h3>
              </div>
            </div>
            <ion-button (click)="addToCart(prod)" [disabled]="prod.inCart">
              <ion-label> {{prod.inCart?'في السلة':'أضف للسلة'}}</ion-label>
              <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
            </ion-button>
            <div class="addition-btns">
              <ion-button (click)="addToFavorite(prod)" class="no-color-button">
                <ion-icon [name]="prod.isFav?'heart':'heart-outline'" [color]="prod.isFav?'primary':'dark'"
                  slot="icon-only"></ion-icon>
              </ion-button>
              <div class="btns">

                @if(prod.new){
                <span [class]="(prod.offer)|| (prod.special)?'extra':'expanded'">
                  <img src="../../../assets/imgs/stars.svg" slot="icon-only">
                  @if(!prod.special&&!prod.offer){جديد}
                </span>
                }
                @if(prod.offer){

                <span [class]="(prod.new)|| (prod.special)?'extra':'expanded'">
                  <img src="../../../assets/imgs/offer-icon.svg" slot="icon-only">
                  @if(!prod.new&&!prod.special){خصم}
                </span>
                }
                @if(prod.special){
                <span [class]=" (prod.new)||(prod.offer)?'extra':'expanded'">

                  <img src="../../../assets/imgs/trend-icon.svg" slot="icon-only">
                </span>
                }
              </div>
            </div>
          </div>
          }


        </div>
      </div>
      }


    </div>
    }
    @if(error){
    <p style="text-align: center;"> برجاء التحقق من الشبكة و إعادة المحاولة</p>
    }
  </div>

</ion-content>


<ion-footer *ngIf="!isloading">

  <div>
    <div class="add-constract">
      <h3>{{product.price - product.discountPrice |number}} د.ع</h3>
      <ion-buttons slot="end">
        <ion-button (click)="product.quantity=product?.quantity -1" [disabled]="(product?.quantity<=1)">
          <ion-icon name="remove-outline"></ion-icon></ion-button>
        <span>{{product?.quantity}}</span>
        <ion-button (click)="product.quantity=product?.quantity +1"><ion-icon
            name="add-outline"></ion-icon></ion-button>
      </ion-buttons>
    </div>

    <div class="add-to-cart">
      <ion-button class="no-color-button" (click)="removeFromFavorite()">
        <ion-icon [name]="product?.isFav?'heart':'heart-outline'" [color]="'primary'"></ion-icon>
      </ion-button>
      <ion-button (click)="addToCart(this.product)">
        <ion-label> أضف للسلة</ion-label>
        <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
      </ion-button>
    </div>
  </div>


</ion-footer>