<ion-content>


  <div class="container">

    <div class="frames-holder">

      <button class="ion-activatable" (click)="toHome()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="close-outline" color="primary"></ion-icon>
        <ion-label>اغلاق</ion-label>
      </button>

      <ion-img src="../../../assets/imgs/Vector1.svg"></ion-img>
      <ion-img src="../../../assets/imgs/frame2.svg"></ion-img>
      <ion-img src="../../../assets/imgs/frame3.svg"></ion-img>

      <div class="logo">
        <ion-img src="../../../assets/imgs/logo-icon.svg"></ion-img>
        <p>سبيدو لايف</p>
      </div>

    </div>

    <div class="forms">

      <form [formGroup]="loginForm">

        <h3>تسجيل الدخول</h3>

        <div class="inputs">
          <ion-label class="error-phone" labelPlacement="floating">
            {{(loginForm.get('username').touched&& loginForm.get('username').invalid)?'هذا الرقم غير متوافق مع بلدك.':''}}</ion-label>
          <ion-input formControlName="username" type="text" placeholder="اسم المستخدم">
            <ion-icon slot="end"
              [src]="loginForm?.get('username').valid?'../../../assets/imgs/red-person.svg':'../../../assets/imgs/black-person.svg'"
              color="dark"></ion-icon>
          </ion-input>

          <ion-input (keyup.enter)="login()" formControlName="password" [type]="showPassword?'text':'password'"
            placeholder="كلمة السر">
            <ion-icon (click)="showPassword=!showPassword" slot="start"
              [name]="showPassword?'eye-off-outline':'eye-outline'"></ion-icon>
            <ion-img
              [src]="loginForm?.get('password').valid?'../../../assets/imgs/red-lock.svg':'../../../assets/imgs/black-lock.svg'"
              slot="end"></ion-img>
          </ion-input>
          @if(loginForm?.get('password').invalid && loginForm?.get('password').touched){
          <p class="password-missed">نسيت كلمة السر</p>
          }
        </div>

      </form>

      <ion-button (click)="login()">
        الدخول
        <ion-img src="../../../assets/imgs/login-03.svg"></ion-img>
      </ion-button>


      <div>
        <span>ليس لديك حساب؟</span>
        <strong routerLink="/register">أنشئ حساب</strong>
      </div>

    </div>

    <ion-img src="../../../assets/imgs/Vector1.svg"> </ion-img>

  </div>




</ion-content>