<ion-content>


  <div class="container">

    <div class="frames-holder">

      <button class="ion-activatable" (click)="toHome()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="close-outline"></ion-icon>
        <ion-label>اغلاق</ion-label>
      </button>

      <ion-img src="../../../assets/imgs/Vector1.svg"></ion-img>
      <ion-img src="../../../assets/imgs/frame2.svg"></ion-img>
      <ion-img src="../../../assets/imgs/frame3.svg"></ion-img>

      <div class="logo">
        <ion-img src="../../../assets/imgs/logo-icon.svg"></ion-img>
        <p>سبيدو لايف</p>
      </div>

    </div>

    <div class="forms">

      <form [formGroup]="loginForm">

        <h3>تسجيل الدخول</h3>

        <div class="inputs">
          <ion-input formControlName="username" type="text" placeholder="بريد المستخدم">
            <ion-icon slot="end" [class]="loginForm.get('username').valid?'valid':''" name="mail-outline" color="dark"></ion-icon>
          </ion-input>
          <ion-input formControlName="displayName" type="text" placeholder="اسم المستخدم">
            <ion-img slot="end"
              [src]="loginForm.get('displayName').valid?'../../../assets/imgs/red-person.svg':'../../../assets/imgs/black-person.svg'"></ion-img>
          </ion-input>

          <ion-input (keyup.enter)="login()" formControlName="password" [type]="showPassword?'text':'password'"
            placeholder="كلمة السر">
            <ion-img (click)="showPassword = !showPassword"
              [src]="loginForm.get('password').valid?'../../../assets/imgs/red-lock.svg':'../../../assets/imgs/black-lock.svg'"
              slot="end"></ion-img>
          </ion-input>
          @if(loginForm.get('password').invalid && loginForm.get('password').touched){
          <p class="password-missed">نسيت كلمة السر</p>
          }
        </div>

      </form>

      <ion-button (click)="login()">
        الدخول
        <ion-img src="../../../assets/imgs/login-03.svg"></ion-img>
      </ion-button>


      <div>
        <span>ليس لديك حساب؟</span>
        <strong routerLink="/register">أنشئ حساب</strong>
      </div>

    </div>

    <ion-img src="../../../assets/imgs/Vector1.svg"> </ion-img>

  </div>




</ion-content>
