@import '../../../theme/mixin.scss';

.custom-header {
  box-shadow: none;

  >img,
  app-custom-image {
    width: 343px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto 0;
    display: block;
    border-radius: 12px;
  }

  >ion-button {
    --padding-bottom: 8px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 8px;
    position: relative;
  }

  >ion-img {
    width: 100%;
  }

  ion-toolbar {
    padding: 0 16px;

    ion-button,
    ion-back-button {
      @include flex(0, center, center, '');

      &.no-padding {
        --padding-bottom: 0px;
        --padding-end: 0px;
        --padding-start: 0px;
        height: fit-content;
        border-radius: 50%;
      }

      span {
        position: absolute;
        background: var(--ion-color-primary);
        padding: 3px;
        height: 14px;
        width: fit-content;
        color: var(--ion-color-light);
        border-radius: 50%;
        display: flex;
        align-items: center;
        top: 0%;
        font-size: 14px;
        right: 0px;
      }

      ion-icon,
      ion-img {
        @include shape(24, 24)
      }
    }

    ion-button:last-of-type {
      ion-icon {
        color: var(--ion-color-dark);
      }
    }

    >ion-img {
      @include shape(24, 24);
    }

    ion-label {
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0px;
      margin-left: 10px;
    font-family: "Bold";
    }

    p {
      font-weight: 600; font-family:'SemiBold';
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: center;
      direction: rtl;
      font-family: 'Cairo';
      color: rgba(128, 128, 128, 1);
    }
  }
}

.container {

  .section-filter {

    ion-segment,
    .animated-categories {
      margin-left: 56px;
      direction: rtl;
      padding: 8px 16px;
      @include flex(8, '', center, '');

      &::-webkit-scrollbar {
        display: none;
      }

      /* For Firefox */
      scrollbar-width: none;
      /* hides scrollbar */

      /* For Internet Explorer and Edge */
      -ms-overflow-style: none;
      /* hides scrollbar */

      ion-skeleton-text {
        width: 80px;
        height: 40px;
        border-radius: 8px;
        --background: dodgerblue;
      }

      ion-segment-button {
        font-weight: 700;font-family: 'Bold';
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        background-color: white;
        --indicator-color: transparent;
        color: rgba(128, 128, 128, 1);
        min-height: 40px;
        min-width: fit-content;
        --padding-start: 9px;
        --padding-end: 9px;
        @include flex(0, center, center, '');
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid rgba(219, 219, 219, 1);

        &.segment-button-checked {
          --color-checked:#{var(--ion-color-secondary)};
          background-color: var(--ion-color-secondary);
          color: white;
        }
      }
    }

    ion-icon {
      padding: 8px 16px;
      position: absolute;
      left: 0;
      top: 7px;
      z-index: 1;
      width: 24px;
      height: 26px;
      background-color: #f6f6f6;
      color: var(--ion-color-primary);
    }
  }

  .section {
    padding: 0 16px;

    .section-cards {
      direction: rtl;
      display: grid;
      padding: 8px 0 0;
      column-gap: 8px;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

      .card {
        position: relative;
        background-color: white;
        height: 303px;
        @include flex(12, center, center, column);
        border-radius: 12px;
        flex-basis: calc((100% - 8px) /2);
        border: 1px solid rgba(240, 239, 239, 1);
        padding: 12px;

        .card-content {
          width: 143px;
          height: 227px;
          overflow: hidden;
          @include flex(8, flex-start, '', column);

          >ion-img,
          app-custom-image,
          >img {
            @include shape(143, 143);
            border-radius: 6px;
            overflow: hidden;
          }

          p {
            font-weight: 600; font-family:'SemiBold';
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0px;
            white-space: wrap;
            text-overflow: ellipsis;
          }

          div {
            display: flex;
            align-items: center;
            width: 100%;
            height: 28px;

            h3 {
              font-weight: 700;font-family: "Bold";
              font-size: 16px;
              line-height: 28px;
              letter-spacing: 0px;
              margin: 0;
              flex-grow: 1;
            }

            >h3.before-discount {
              color: rgba(170, 170, 170, 1);
              text-decoration: line-through;
            }
          }
        }

        >ion-button {
          height: 40px;width: 100%;
          direction: ltr;
          @include flex(8, center, center, '');
          border-radius: 10px;
          overflow: hidden;
          color: var(--ion-color-light);

          ion-label {
            font-weight: 700;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: center;
          }

          ion-img {
            @include shape(18, 18);
            margin-left: 8px;
          }
        }

        .addition-btns {
          position: absolute;
          top: 12px;
          width: 143px;
          padding: 0 5px;
          @include flex(0, space-between, center, '');

          >ion-button {
            @include shape(26, 26);
            --ion-color-primary: white;
            border-radius: 50%;
            overflow: hidden;
          }

          .btns {
            @include flex(4, '', center, '');

            span {
              height: 26px;
              min-width: 26px;
              max-width: 62px;
              color: white;
              background-color: rgba(44, 52, 84, 0.65);
              border-radius: 15px;
              @include flex(4, center, center, '');
              overflow: hidden;
              font-weight: 600; font-family:'SemiBold';
              font-size: 12px;
              line-height: 22px;
              letter-spacing: 0px;

              &.extra {
                width: 64px;
              }
            }

            ion-img {
              @include shape(18, 18);
            }
          }
        }
      }

    }
  }
}


