<ion-content>


  <div class="container">

    <div class="frames-holder">

      <button class="ion-activatable" (click)="toHome()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="close-outline"></ion-icon>
        <ion-label>اغلاق</ion-label>
      </button>

      <ion-img src="../../../assets/imgs/Vector1.svg"></ion-img>
      <ion-img src="../../../assets/imgs/frame2.svg"></ion-img>
      <ion-img src="../../../assets/imgs/frame3.svg"></ion-img>

      <div class="logo">
        <ion-img src="../../../assets/imgs/logo-icon.svg"></ion-img>
        <p>سبيدو لايف</p>
      </div>

    </div>

    <div class="forms">
      <form [formGroup]="registerForm">

        <h3>إنشاء حساب</h3>

        <div class="inputs">

          <ion-label class="error-phone" labelPlacement="floating">
            {{(registerForm.get('username').touched&& registerForm.get('username').invalid)?'هذا الرقم غير متوافق مع بلدك.':''}}</ion-label>
          <ion-input formControlName="username" type="text" placeholder="اسم المستخدم">
            <ion-img slot="end"
              [src]="registerForm.get('username').valid?'../../../assets/imgs/red-person.svg':'../../../assets/imgs/black-person.svg'"></ion-img>
          </ion-input>

          <ion-input (keyup.enter)="register()" formControlName="password" [type]="showPassword?'text':'password'"
            placeholder="كلمة السر">
            <ion-icon (click)="showPassword=!showPassword" slot="start"
              [name]="showPassword?'eye-off-outline':'eye-outline'"></ion-icon>

            <ion-img
              [src]="registerForm.get('password').valid?'../../../assets/imgs/red-lock.svg':'../../../assets/imgs/black-lock.svg'"
              slot="end"></ion-img>
          </ion-input>
          @if(registerForm.get('password').invalid && registerForm.get('password').touched){
          <p class="password-missed">نسيت كلمة السر</p>
          }
        </div>

      </form>


      <ion-button (click)="register()">إنشاء الحساب</ion-button>
      <div>
        <span>لديك حساب بالفعل؟</span>
        <strong routerLink="/login">سجل الدخول</strong>
      </div>

    </div>

    <ion-img src="../../../assets/imgs/Vector1.svg"> </ion-img>

  </div>




</ion-content>