<ion-header class="main-header">
  <ion-toolbar>
    <ion-button slot="start" class="ion-activatable no-color-button" (click)="navCtrl.navigateForward('notifications')">
      <ion-img slot="icon-only" src="../../../assets/imgs/bell.svg"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button slot="start" class="ion-activatable no-color-button" (click)="toCart()">
      @if((cartService.items?.length)){
      <span>{{cartService.items?.length}}</span>
      }
      <ion-img slot="icon-only" src="../../../assets/imgs/cart.svg">
      </ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-img slot="end" src="../../../assets/imgs/logo-icon.svg"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="container">


    <div class="header">
      <ion-icon name="trash" (click)="clearFavorites()"></ion-icon>
      <p>({{items?.length||0}}) منتجات</p>
      <section>المفضلة</section>
    </div>


    <!-- Empty Ele -->
    @if(!items?.length){
    <div class="empty fade-in">
      <ion-icon [src]="'../../../assets/imgs/logo-icon.svg'"></ion-icon>
      <h3 style="text-align: center;">لا منتجات في المفضلة حاليا</h3>
    </div>
    }

    @if(items?.length){
    <div class="favorites cards">
      @for (prod of items; track $index) {
      <div class="card fade-in">
        <div class="prod-data">

          <div class="txts" [routerLink]="'/product/'+prod._id">
            <p>{{prod.name}}</p>
            <h3 style="direction: rtl;">{{prod.finalPrice|number:''}} د </h3>
          </div>

          <div class="btns">
            <ion-button (click)="removeFromFavorites(prod)" class="no-color-button">
              <ion-icon [name]="'heart'" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="addToCart(prod)" [disabled]="prod.inCart">
              <ion-label> {{prod.inCart?'في السلة':'أضف للسلة'}}</ion-label>
              <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
            </ion-button>
          </div>

        </div>
        <app-custom-image [routerLink]="'/product/'+prod._id" [mainImg]="prod.image"></app-custom-image>
        <!-- <img [src]="prod.image" alt=""> -->
      </div>
      }

    </div>
    }




  </div>

</ion-content>