@import '../../../theme/mixin.scss';

ion-header ion-toolbar{
   >ion-img {
      @include shape(33.15, 32);
    }
}
.container {

  .header {
    margin-top: 16px;
    margin-bottom: 16px;  padding: 0 16px;
    @include flex(8, start, '', row-reverse);

    p {
      color: rgba(128, 128, 128, 1);
      direction: rtl;
    }

    ion-button{
      margin: 0 auto 0 0;
          --padding-bottom: 8px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 8px;
      color: var(--ion-color-primary);
      ion-icon{
    font-size: 20px;
   }
   }
   section{
    font-weight: 700;
   }
  }

  .cards {
    padding: 0 16px 16px;
    flex-wrap: wrap;
    @include flex(8, end, center, column);

    .card {
      width: 100%;
      height: 156px;
      border-radius: 12px;
      @include flex(12, space-evenly, start, row-reverse);
      gap: 12px;
      background-color: white;
      border: 1px solid rgba(240, 239, 239, 1);
      padding: 12px;


      >ion-img,
      >img,
      app-custom-image {
        border: 0.5px solid rgba(240, 239, 239, 1);
        @include shape(64, 64);
        border-radius: 6px;
        overflow: hidden;
      }

      .prod-data {
        width: 243px;
        height: 132px;
        flex-grow: 1;
        @include flex(8, '', '', column);

        .txts {
          height: 92px;
          @include flex(0, '', '', column);
          text-align: right;
          overflow: hidden;

          p {
            font-weight: 600;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0px;
            flex-grow: 1;
            text-overflow: ellipsis;
          }

          h3 {
            margin: 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0px;
          }
        }

        .btns {
          height: 32px;
          @include flex(12, space-between, center, row-reverse);

          >ion-button:last-of-type {
            min-width: 207px;
            color: var(--ion-color-light);
            min-height: 32px;
            @include flex(4, center, center, '');
            overflow: hidden;
            border-radius: 7px;

            ion-label {
              margin-right: 4px;
              font-weight: 700;
              font-size: 12px;
              line-height: 22px;
              letter-spacing: 0px;

            }

          }

          ion-button {
            min-height: 24px;
            min-width: 24px;

            >ion-icon {
              @include shape(24, 24);
              color: var(--ion-color-secondary) !important;
            }
          }
        }
      }
    }
  }
}
