<ion-header class="custom-header modal-header">

  <ion-toolbar>
    <ion-label slot="end"> انهاء الطلب</ion-label>
    <ion-button slot="end" (click)="modalCtrl.dismiss()" class="no-color-button">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container modal-container">
    <section>ملخص الطلب</section>

    @if(!empty&&!isloading){
    <form [formGroup]="orderForm">

      <div class="form">
        <ion-label>{{selectedBranch?.name}}</ion-label>

        <ion-input class="fade-in" formControlName="coupon" placeholder="كود الخصم..."
          (ionChange)="logCoupon($event)"></ion-input>

        <ion-radio-group value="1" formControlName="type" (ionChange)="updateService($event)">

          @for (type of orderTypes; track $index) {
          <ion-radio class="fade-in" [value]="type.type">
            <ion-label>{{type.name}}</ion-label>
            <p>{{type.description}}</p>
          </ion-radio>
          }
        </ion-radio-group>

        <div class="barriar"></div>

        <div class="order-data">
          <div class="fade-in">
            <p>عد الطلبات</p>
            <h3>{{orderProducts.length |number }}</h3>
          </div>
          <div class="fade-in">
            <p>اجمالى الخصومات</p>
            <h3>{{totalDiscounts|number}} د.ع</h3>
          </div>
          <div class="fade-in">
            <p>التوصيل</p>
            @if(service===1){<h3>{{selectedBranch.service | number}} د.ع</h3>}
            @if(service===3){<h3>{{selectedBranch.fastDriverService | number}} د.ع</h3>}
            @if(service===4){<h3>{{selectedBranch.driverService | number}} د.ع</h3>}
          </div>
          @if(selectedCountry){
          <div class="fade-in">
            <p> التوصيل للمدينة </p>
            <h3>{{selectedCountry.cost | number}} د.ع</h3>
          </div>
          }
          <div class="fade-in">
            <p>الإجمالي</p>
            <h3>{{total|number}} د.ع</h3>
          </div>
        </div>
      </div>

      <section>بيانات المستلم</section>
      <div class="client">
        <ion-input class="fade-in" [class.invalid]="orderForm.get('displayName').invalid" formControlName="displayName"
          placeholder="اسم المستلم..."></ion-input>
        <ion-input class="fade-in" [class.invalid]="orderForm.get('address').invalid" formControlName="address"
          placeholder="عنوان المستلم..."></ion-input>
        <ion-input class="fade-in" [class.invalid]="orderForm.get('phone').invalid" formControlName="phone"
          placeholder="هاتف المستلم..."></ion-input>

        @if(service!==1){
        <ion-select (ionChange)="updateCountry($event)" [class.invalid]="orderForm.get('phone').invalid"
          formControlName="country" mode="ios" interface="action-sheet" toggleIcon="chevron-down"
          expandedIcon="chevron-up" label="اختر المدينة">
          @for (country of countries; track $index) {
          <ion-select-option [value]="country._id">{{country.name}}</ion-select-option>
          }
        </ion-select>
        <ion-label class="fade-in" [class.invalid]="orderForm.get('phone').invalid"
          (click)="openDateModal()">{{(orderForm.value.deliveryDate|date:'yyyy-MM-dd , HH:mm a')||'اختر موعد التسليم'}}</ion-label>
        }
      </div>
    </form>
    }
    @if(empty&&!isloading) {
    <div class="empty">
      <ion-icon [src]="'../../../assets/imgs/logo-icon.svg'"></ion-icon>
      <ion-label>تحقق من الشبكة " خطأ في الانترنت "</ion-label>
    </div>
    }

  </div>


</ion-content>

<ion-footer class="fade-in">
  <ion-button (click)="finishOrder()">التاكيد</ion-button>
</ion-footer>
