<ion-header class="main-header">
  <ion-toolbar>
    <ion-button slot="start" class="ion-activatable no-color-button" (click)="navCtrl.navigateForward('notifications')">
      <ion-img slot="icon-only" src="../../../assets/imgs/bell.svg"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button slot="start" class="ion-activatable no-color-button" (click)="toCart()">
      @if((cartService.cartProducts?.length)){
      <span>{{cartService.cartProducts?.length}}</span>
      }
      <ion-img slot="icon-only" src="../../../assets/imgs/cart.svg">
      </ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-img slot="end" src="../../../assets/imgs/logo-icon.svg"></ion-img>
  </ion-toolbar>

  <div class="page-header">
    <div>
      <section>الرئيسية</section>
      <div class="filter">
        <ion-button class="no-color-button" [routerLink]="'/search-products'">
          <ion-img src="../../../assets/imgs/filter.svg" slot="icon-only"></ion-img>
        </ion-button>
        <ion-input (ionFocus)="navCtrl.navigateForward('search-products')" placeholder="...ابحث عن منتج">
          <ion-icon name="search-outline"></ion-icon>
        </ion-input>
      </div>

    </div>
  </div>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>


  <div class="container">

    <swiper-container class="swiper-container" autoplay='{"delay":2000,"disableOnInteraction":false}'
      [slidesPerView]="'auto'" [updateOnWindowResize]="true">
      @if (!isLoading) {
      @for (slide of sliders; track $index) {
      <swiper-slide [routerLink]="slide.product?'/product/'+slide.product:'/tabs/home'">
        <app-custom-image class="fade-in" [mainImg]="slide.image"
          [altImg]="'../../../assets/imgs/logo-cover.png'"></app-custom-image>
      </swiper-slide>
      }
      }@else {
      <swiper-slide>
        <ion-skeleton-text animated></ion-skeleton-text>
      </swiper-slide>
      }
      <div class="swiper-pagination"></div>
    </swiper-container>


    <div class="home-data">

      @if(!isLoading&&!empty&&!error){
      <div class="sections-cards" *ngIf="categories">
        <div class="header">
          <ion-button class="more no-color-button" (click)="toCustomComponent('category')">
            المزيد
            <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
          </ion-button>
          <section>الأقسام</section>
        </div>


        <div class="section-content">
          <div>
            @for (category of categories; track $index) {
            <div class="fade-in" (click)="openRelatedView(category,'section')">
              <app-custom-image [mainImg]="category.image"></app-custom-image>
              <h3> {{category.name}}</h3>
            </div>
            }
          </div>


        </div>
      </div>

      <div class="most-demand" *ngIf="bestSeller">
        <div class="header">
          <ion-button class="more no-color-button">
            المزيد
            <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
          </ion-button>
          <section>الأكثر طلبا</section>
        </div>



        <div class="demand-cards">
          @for (prod of bestSeller; track $index) {
          <div class="card fade-in">
            <div class="card-content" [routerLink]="'/product/'+prod._id">
              <app-custom-image [mainImg]="prod.image"></app-custom-image>
              <p>{{prod.name}}</p>
              <h3>{{prod.price}}د</h3>
            </div>
            <ion-button (click)="addToCart(prod)">
              <ion-label>أضف للسلة</ion-label>
              <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
            </ion-button>
            <div class="addition-btns">
              <ion-button (click)="addToFavorite(prod)" class="no-color-button">
                <ion-icon [name]="prod.isFav?'heart':'heart-outline'" [color]="prod.isFav?'primary':'dark'"
                  slot="icon-only"></ion-icon>
              </ion-button>
              <div class="btns">

                @if(prod.new){
                <span [class]="(prod.offer)|| (prod.special)?'extra':'expanded'">
                  <img src="../../../assets/imgs/stars.svg" slot="icon-only">
                  @if(!prod.special&&!prod.offer){جديد}
                </span>
                }
                @if(prod.offer){

                <span [class]="(prod.new)||(prod.special)?'extra':'expanded'">
                  <img src="../../../assets/imgs/offer-icon.svg" slot="icon-only">
                  @if(!prod.new&&!prod.special){خصم}
                </span>
                }
                @if(prod.special){
                <span [class]=" (prod.new)||(prod.offer)?'extra':'expanded'">

                  <img src="../../../assets/imgs/trend-icon.svg" slot="icon-only">
                </span>
                }
              </div>
            </div>
          </div>
          }
        </div>



      </div>

      <div class="offers" *ngIf="offers">

        <div class="header">
          <ion-button class="more no-color-button" (click)="toCustomComponent('offer')">
            المزيد
            <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
          </ion-button>
          <section>العروض</section>
        </div>

        <div class="offers-cards">
          @for (offer of offers; track $index) {
          <div class="card fade-in">
            <app-custom-image [mainImg]="offer.image"></app-custom-image>
            <ion-button class="no-color-button" [routerLink]="['/offer']" [queryParams]=" { id: offer._id} ">
              <ion-label>تفقد المنتجات</ion-label>
              <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
            </ion-button>
          </div>
          }
        </div>



      </div>

      <div class="discounts" *ngIf="discountProducts">
        <div class="header">
          <ion-button class="more no-color-button" routerLink="/tabs/discounts">
            المزيد
            <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
          </ion-button>
          <section>التخفيضات</section>
        </div>



        <div class="discount-cards">
          @for (discountProd of discountProducts; track $index) {
          <div class=" card fade-in">
            <div class="card-content" [routerLink]='"/product/" + discountProd._id'>
              <app-custom-image [mainImg]="discountProd.image"></app-custom-image>
              <p> {{discountProd.name}} </p>
              <h3>{{discountProd.price |number}} د.ع</h3>
            </div>
            <ion-button (click)="addToCart(discountProd)">
              <ion-label>أضف للسلة</ion-label>
              <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
            </ion-button>
            <div class="addition-btns">
              <ion-button (click)="addToFavorite(discountProd)" class="no-color-button">
                <ion-icon [name]="discountProd.isFav?'heart':'heart-outline'"
                  [color]="discountProd.isFav?'primary':'dark'" slot="icon-only"></ion-icon>
              </ion-button>
              <div class="btns">

                @if(discountProd.new){
                <span [class]="(discountProd.offer)|| (discountProd.special)?'extra':'expanded'">
                  <img src="../../../assets/imgs/stars.svg" slot="icon-only">
                  @if(!discountProd.special&&!discountProd.offer){جديد}
                </span>
                }
                @if(discountProd.offer){

                <span [class]="(discountProd.new)||(discountProd.special)?'extra':'expanded'">
                  <img src="../../../assets/imgs/offer-icon.svg" slot="icon-only">
                  @if(!discountProd.new&&!discountProd.special){خصم}
                </span>
                }
                @if(discountProd.special){
                <span [class]=" (discountProd.new)||(discountProd.offer)?'extra':'expanded'">

                  <img src="../../../assets/imgs/trend-icon.svg" slot="icon-only">
                </span>
                }
              </div>
            </div>
          </div>
          }
        </div>


      </div>

      <div class="brands" *ngIf="brands">

        <div class="header">
          <ion-button class="more no-color-button" (click)="toCustomComponent('brand')">
            المزيد
            <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
          </ion-button>
          <section>البراندات</section>
        </div>


        <div class="brands-cards">
          <div>
            @for (brand of brands; track $index) {
            <div class="card fade-in" (click)="openRelatedView(brand,'brand')">
              <app-custom-image [mainImg]="brand.image"></app-custom-image>
            </div>
            }

          </div>

        </div>



      </div>

      <div class="recent" *ngIf="newProducts">

        <div class="header">
          <section>وصل حديثا</section>
        </div>


        <div class="recent-cards">
          @for (newProd of newProducts; track $index) {
          <div class="card fade-in">
            <div class="card-content" [routerLink]="`/product/${newProd._id}`">
              <app-custom-image [mainImg]="newProd.image"></app-custom-image>
              <p> {{newProd.name}}</p>
              <h3>{{newProd.price|number}} د.ع</h3>
            </div>
            <ion-button (click)="addToCart(newProd)">
              <ion-label>أضف للسلة</ion-label>
              <ion-img src="../../../assets/imgs/add-cart.svg"></ion-img>
            </ion-button>

            <div class="addition-btns">
              <ion-button (click)="addToFavorite(newProd)" class="no-color-button">
                <ion-icon [name]="newProd.isFav?'heart':'heart-outline'" [color]="newProd.isFav?'primary':'dark'"
                  slot="icon-only"></ion-icon>
              </ion-button>
              <div class="btns">

                @if(newProd.new){
                <span [class]="(newProd.offer)|| (newProd.special)?'extra':'expanded'">
                  <img src="../../../assets/imgs/stars.svg" slot="icon-only">
                  @if(!newProd.special&&!newProd.offer){جديد}
                </span>
                }
                @if(newProd.offer){

                <span [class]="(newProd.new)||(newProd.special)?'extra':'expanded'">
                  <img src="../../../assets/imgs/offer-icon.svg" slot="icon-only">
                  @if(!newProd.new&&!newProd.special){خصم}
                </span>
                }
                @if(newProd.special){
                <span [class]=" (newProd.new)||( newProd.offer)?'extra':'expanded'">

                  <img src="../../../assets/imgs/trend-icon.svg" slot="icon-only">
                </span>
                }
              </div>
            </div>
          </div>
          }

        </div>



      </div>
      }

      @if(isLoading){
      <div class="sections-cards">
        <div class="header" *ngIf="isLoading"> <ion-skeleton-text animated></ion-skeleton-text></div>
        <div class="section-content">

          <div *ngIf="isLoading">
            <ion-skeleton-text animated="true" *ngFor="let i of [1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8]"></ion-skeleton-text>
          </div>
        </div>
      </div>

      <div class="most-demand">

        <div *ngIf="isLoading" class="header"><ion-skeleton-text animated></ion-skeleton-text></div>

        <div class="demand-cards" *ngIf="isLoading">
          <ion-skeleton-text animated *ngFor="let i of [1,2,3,4,5,6,7,8]" style="min-width: 167px;"></ion-skeleton-text>
        </div>
      </div>

      <div class="offers">
        <div class="header" *ngIf="isLoading"><ion-skeleton-text animated></ion-skeleton-text></div>
        <div class="offers-cards" *ngIf="isLoading">
          <ion-skeleton-text class="card" *ngFor="let i of [1,2]"></ion-skeleton-text>
        </div>
      </div>

      <div class="discounts">
        <div class="header" *ngIf="isLoading"><ion-skeleton-text animated=""></ion-skeleton-text>
        </div>
        <div class="discount-cards" *ngIf="isLoading"><ion-skeleton-text *ngFor="let i of [1,2,3,4,5,6,7,8]" animated=""
            style="min-width: 167px;"></ion-skeleton-text></div>
      </div>

      <div class="brands">
        <div class="header" *ngIf="isLoading"><ion-skeleton-text animated=""></ion-skeleton-text>
        </div>
        <div class="brands-cards" *ngIf="isLoading">
          <div>
            <ion-skeleton-text class="card" animated=""
              *ngFor="let i of [1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8]"></ion-skeleton-text>
          </div>
        </div>
      </div>

      <div class="recent">
        <div class="header" *ngIf="isLoading"><ion-skeleton-text animated=""></ion-skeleton-text>
        </div>
        <div class="recent-cards" *ngIf="isLoading">
          <ion-skeleton-text class="card" animated="" *ngFor="let i of [1,2,3,4,5,6,7,8]"
            style="min-width: 167px;"></ion-skeleton-text>
        </div>
      </div>
      }
    </div>



    @if(error){
    <div style="padding: 16px; text-align: center;">
      <ion-icon name="code-working-outline" style="font-size: 3em;transform:rotateZ(90deg);"></ion-icon>
      <h3> برجاء التحقق من الشبكة و إعادة المحاولة</h3>
    </div>
    }
  </div>

</ion-content>