@import '../../../theme/mixin.scss';
@import '../../../global.scss';

ion-content {
  // --offset-top: -52px !important;
}

.container {
  padding: 0;

  .swiper-container {
    width: 100%;
    height: 180px;
    box-sizing: content-box;

    swiper-slide {
      padding: 0 16px;
    }

    &::part(pagination) {
      display: flex;
      justify-content: center;
      direction: rtl;
    }

    &::part(bullet) {
      @include shape(5, 5);
      border-radius: 5px;
      background-color: rgba(204, 204, 204, 1);

      &:hover {
        background-color: #0500d1;
      }
    }

    &::part(bullet-active) {
      @include shape(8, 8);
      border-radius: 8px;
      background-color: $primaryColor;
    }

    ion-img,
    img,
    app-custom-image,
    ion-skeleton-text {
      width: 100%;
      height: 156px;
      border-radius: 12px;
      overflow: hidden;
      display: block;
      // object-fit: cover;
      margin: 0 auto;
    }
  }


  .home-data {
    padding-bottom: 96px;
    width: 100%;
    @include flex(24, '', '', column);


    .sections-cards {
      .section-content {
        @include flex(8, '', '', column);
        width: 100%;

        >div {
          @include flex(8, '', '', column);
          flex-wrap: wrap;
          overflow: auto;
          height: 304px;
          direction: rtl;
          padding: 0 16px;
          max-width: 760px;

          &::-webkit-scrollbar {
            display: none;
          }

          /* For Firefox */
          scrollbar-width: none;
          /* hides scrollbar */

          /* For Internet Explorer and Edge */
          -ms-overflow-style: none;
          /* hides scrollbar */


          >div,
          ion-skeleton-text {
            background-color: white;
            @include shape(96, 148);
            border-radius: 10px;
            // flex-grow: 1;
            border: 1px solid rgba(240, 239, 239, 1);
            padding: 8px;

            ion-img,
            app-custom-image {
              @include shape(80, 80);
              border-radius: 6px;
              overflow: hidden;
              display: block
            }

            h3 {
              @include shape(80, 40);
              font-weight: 600;
              font-size: 12px;
              line-height: 22px;
              letter-spacing: 0px;
              text-align: center;
              margin: 0;
            }
          }
        }

      }
    }

    .most-demand,
    .discounts,
    .recent {

      .demand-cards,
      .discount-cards,
      .recent-cards {
        width: 100%;
        direction: rtl;
        padding: 0 16px;
        display: flex !important;
        gap: 8px;
        overflow: auto;
        flex-wrap: nowrap !important;

        &::-webkit-scrollbar {
          display: none;
        }

        /* For Firefox */
        scrollbar-width: none;
        /* hides scrollbar */

        /* For Internet Explorer and Edge */
        -ms-overflow-style: none;
        /* hides scrollbar */

        .card,
        ion-skeleton-text {
          position: relative;
          background-color: white;
          height: 303px;
          @include flex(12, center, space-between, column);
          border-radius: 12px;
          border: 1px solid rgba(240, 239, 239, 1);
          padding: 12px;

          .card-content {
            width: 143px;
            height: 227px;
            overflow: hidden;
            @include flex(8, flex-start, '', column);

            >ion-img,
            >img,
            app-custom-image {
              @include shape(143, 143);
              border-radius: 6px;
              display: block;
              // overflow: hidden;
            }

            p {
              font-weight: 600;
              font-size: 12px;
              line-height: 22px;
              letter-spacing: 0px;
              white-space: wrap;
              text-overflow: ellipsis;
            }

            h3 {
              font-weight: 700;
              font-size: 16px;
              line-height: 28px;
              letter-spacing: 0px;
              margin: 0;
              flex-grow: 1;
            }
          }

          >ion-button {
            height: 40px;
            direction: ltr;
            @include flex(8, center, center, '');
            border-radius: 10px;
            color: white;
            overflow: hidden;
            --ion-color-primary:#{$primaryColor};

            ion-label {
              font-weight: 700;
              font-size: 14px;
              line-height: 26px;
              letter-spacing: 0px;
              text-align: center;
            }

            ion-img {
              @include shape(18, 18);
              margin-left: 8px;
            }
          }

          .addition-btns {
            position: absolute;
            top: 12px;
            width: 143px;
            padding: 0 5px;
            @include flex(0, space-between, center, '');

            >ion-button {
              @include shape(26, 26);
              --ion-color-primary: rgba(255, 255, 255, 0.2);
              border-radius: 50%;
              overflow: hidden;
            }

            .btns {
              @include flex(4, '', center, '');

              span {
                height: 26px;
                min-width: 26px;
                max-width: 62px;
                color: white;
                background-color: rgba(44, 52, 84, 0.65);
                border-radius: 15px;
                @include flex(4, center, center, '');
                overflow: hidden;
                font-weight: 600;
                font-size: 12px;
                line-height: 22px;
                letter-spacing: 0px;

                &.extra {
                  width: fit-content;
                }

                &.expanded {
                  width: 64px;
                }
              }

              ion-img {
                @include shape(18, 18);
              }
            }
          }
        }

      }
    }

    .offers {

      .offers-cards {
        width: 100%;
        overflow: auto;
        direction: rtl;
        padding: 0 16px;
        @include flex(8, start, center, '');
        flex-flow: nowrap;

        &::-webkit-scrollbar {
          display: none;
        }

        /* For Firefox */
        scrollbar-width: none;
        /* hides scrollbar */

        /* For Internet Explorer and Edge */
        -ms-overflow-style: none;
        /* hides scrollbar */

        .card,
        ion-skeleton-text {
          position: relative;
          min-width: 255px;
          height: 156px;
          border-radius: 12px;

          ion-img,
          img {
            position: relative;
            top: 0;
            left: 0;
            z-index: 0;
            @include shape(255, 156);
          }

          ion-button {
            position: absolute;
            bottom: 12px;
            right: 12px;
            height: 32px;
            direction: ltr;
            @include flex(4, '', center, '');
            --padding: 8px 16px 8px 8px;
            background-color: white;
            border-radius: 7px;
            border: 0.5px solid $primaryColor;

            ion-label {
              font-weight: 700;
              font-size: 12px;
              line-height: 22px;
              letter-spacing: 0px;
              text-align: center;
              @include flex(0, start, center, '');
              @include shape(77, 32);
              margin-left: 8px;
            }

            ion-icon {
              @include shape(16, 16);
            }

          }
        }
      }
    }

    .brands {

      .brands-cards {
        width: 100%;
        direction: rtl;
        @include flex(8, '', '', column);

        >div {
          height: 200px;
          @include flex(8, '', flex-start, column);
          overflow-x: auto;
          overflow-y: hidden;
          flex-wrap: wrap;
          padding: 0 16px;

          &::-webkit-scrollbar {
            display: none;
          }

          /* For Firefox */
          scrollbar-width: none;
          /* hides scrollbar */

          /* For Internet Explorer and Edge */
          -ms-overflow-style: none;
          /* hides scrollbar */

          >.card {
            @include shape(96, 96);
            // flex-grow: 1;
            @include flex(0, center, center, '');
            border: 1px solid rgba(240, 239, 239, 1);
            background-color: white; // to comment when real images
            border-radius: 12px;
            // overflow: hidden;

            ion-img,
            img,
            app-custom-image {
              position: relative;
              width: 80px;
              height: 80px;
              display: block;
            }
          }
        }
      }
    }

  }

  .recent {
    .header {
      section {
        margin-left: auto;
      }
    }


  }
}



@media (767px < width) {
  .swiper-container {
    height: 180px !important;

    swiper-slide {
      width: 100%;

      img {
        height: 196px !important;
      }
    }
  }
}