<ion-header class="custom-header">

  <ion-toolbar>
    <ion-button slot="start" class="no-color-button" (click)="clearCart()">
      <ion-icon name="trash" color="primary"></ion-icon>
    </ion-button>
    <p slot="end">({{items?.length||0}}) منتجات</p>
    <ion-label slot="end"> السلة</ion-label>
    <ion-button slot="end" class="no-color-button" (click)="navCtrl.pop()">
      <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <!-- Empty Ele -->
    @if(!items.length){
    <div class="empty">
      <ion-icon [src]="'../../../assets/imgs/logo-icon.svg'"></ion-icon>
      <h3 style="text-align: center;">لا منتجات في السلة حاليا</h3>
    </div>
    }


    @if(items.length){
    <div class="cart-prods">
      @for (product of items; track $index) {
      <div class="product">
        <div class="product-data">
          <ion-icon (click)="delete(product)" name="trash-outline" color="primary"></ion-icon>
          <div>
            <h3>{{product.name}}</h3>
            <div class="add-constract">
              <h3>{{(product.price * product.quantity)|number}} د.ع</h3>
              <ion-buttons slot="end">
                <ion-button (click)="decrease(product)" [disabled]="(product.quantity<=0)"><ion-icon
                    name="remove-outline"></ion-icon></ion-button>
                <span>{{product.quantity}}</span>
                <ion-button (click)="increase(product)"><ion-icon name="add-outline"></ion-icon></ion-button>
              </ion-buttons>
            </div>
          </div>
          <app-custom-image [mainImg]="product.image"></app-custom-image>
        </div>

        @if(product.selectedAdditions?.length){

        <div class="prod-options">
          <div class="extra-data">

            @for (addition of product.selectedAdditions; track $index) {
            <div>
              <span>{{addition.price|number}} د.ع</span>
              <p>{{addition.name}}</p>
            </div>
            }
          </div>

          <div class="total">
            <p>اجمالى المنتج</p>
            <h3>{{(product.quantity * product.price + product.selectedAdditions[0]?.price)|number}} د.ع</h3>
          </div>
        </div>
        }

      </div>
      }

    </div>
    }

  </div>



</ion-content>

<ion-footer *ngIf="items">
  <div class="content">
    <div class="total">
      <p>الإجمالي الكلى</p>
      <h3>{{calcTotal+1000|number}} د.ع</h3>
    </div>
    <div>
      <div class="orders">
        <p>الطلبات</p>
        <h3>{{calcTotal|number}} د.ع</h3>
      </div>
      <div class="deliver">
        <p>التوصيل</p>
        <h3>{{1000|number }} د.ع</h3>
      </div>
    </div>
  </div>

  <ion-button (click)="finishOrder()" [disabled]="!items?.length">انهاء الطلب</ion-button>
</ion-footer>