@import '../../../theme/mixin.scss';

ion-toolbar {
  ion-button:first-of-type {
    --padding-bottom: 8px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 8px;
    font-size: 16px;
  }

  ion-label {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Bold";
  }
}

ion-content {
  --padding-top: 16px;
}

.cart-prods {
  display: flex !important;
  flex-flow: column;
  gap: 8px;
  padding: 0 16px 16px;

  .product {
    background-color: white !important;
    border-radius: 12px;
    border: 1px solid #F0EFEF;
    padding: 12px;

    .product-data {
      flex-grow: 1;
      height: 94px;
      @include flex(16, end, center, row-reverse);

      ion-img,
      img,
      app-custom-image {
        max-width: 65px !important;
        max-height: 65px !important;
        width: -webkit-fill-available;
        height: 65px !important;
        border: 0.5px solid rgb(233, 233, 233);
        border-radius: 6px;
        overflow: hidden;
        align-self: self-start;
      }

      ion-button.trash {
        --padding-bottom: 8px;
        --padding-end: 8px;
        --padding-start: 8px;
        --padding-top: 8px;
        margin-right: auto;

        ion-icon {
          // --ion-color-primary: rgba(85, 85, 85, 1) !important;
          @include shape(24, 24);
        }
      }

      >div:first-of-type {
        @include flex(2, '', start, column);

        h3 {
          margin: 0;
          font-weight: 600;
          font-family: 'SemiBold';
          font-size: 14px;
          line-height: 26px;
          letter-spacing: 0px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: auto;
          width: calc((211 / 243) * 100%);
        }

        .add-constract {
          @include flex(16, end, center, '');

          ion-buttons {
            @include flex(16, '', center, row-reverse);

            ion-button {
              border-radius: 50%;
              border: 0.5px solid rgba(170, 170, 170, 0.5);
              min-height: 24px;
              max-height: 24px;
              overflow: hidden;
              width: 24px;
              --padding-bottom: 3px;
              --padding-end: 3px;
              --padding-start: 3px;
              --padding-top: 3px;
              @include flex(0, center, center, '');

              ion-icon {
                @include shape(24, 24);
                color: black;
              }
            }
          }

          h3 {
            font-weight: 700;font-family: "Bold";
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0px;
            margin: 0;
          }
        }

      }


    }

    .prod-options {
      width: 100% !important;
      height: fit-content;
      @include flex(12, '', '', column);
      border: none;

      .extra-data {
        padding: 8px 12px;
        border-radius: 8px;
        background-color: rgba(246, 246, 246, 1);

        >div {
          height: 44px;
          @include flex(0, space-between, center, '');

          p,
          span {
            color: rgba(64, 64, 64, 1);
            font-weight: 600;
            font-family: 'SemiBold';
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0px;
          }
        }
      }

      .total {
        height: 26px;
        @include flex(0, space-between, center, '');

        p {
          color: rgb(170, 170, 170);
          font-weight: 600;
          font-family: 'SemiBold';
          font-size: 14px;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: right;
        }

        h3 {
          color: var(--ion-color-primary);
          font-weight: 700;
          font-size: 14px;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: center;
        }
      }
    }
  }
}


ion-footer {
  height: 120px;
  padding: 0 16px;
  @include flex(12, '', '', column);
  border-top: 1px solid rgba(242, 242, 242, 1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: white;

  .content {
    max-width: 767px;
    width: 100%;
    padding: 0 16px;
    @include flex(0, space-between, center, row-reverse);

    p {
      font-weight: 600;
      font-family: 'SemiBold';
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: center;
      color: rgb(170, 170, 170);
    }

    h3 {
      font-weight: 700;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: end;
      margin: 0;
    }

    .total,
    .orders,
    .deliver {
      @include flex(0, end, '', column);
    }

    .total {
      justify-content: start;
    }

    .total>h3 {
      color: var(--ion-color-primary);
    }

    >div:last-child {
      @include flex(24, '', center, '');
    }

  }

  ion-button {
    --border-radius: 10px;
    --background: #{var(--ion-color-primary)};
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 12px;
    --padding-end: 12px;
    height: 48px;
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
  }

}
