<ion-header class="main-header">

  <ion-toolbar>
    @if(!isLoading && order){
    @if(order.status==orderStatus.WAITING){<ion-chip slot="end" title="معلق">معلق</ion-chip>}
    @if(order.status==orderStatus.REJECTED){<ion-chip slot="end" title="مرفوض">مرفوض</ion-chip>}
    @if(order.status==orderStatus.ACCEPTED){<ion-chip slot="end" title="مكتمل">مكتمل</ion-chip>}
    }
    <ion-button slot="end" fill="clear" (click)="openOrderOperations($event)">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>

    <div slot="start">
      <ion-button slot="start" fill="clear" (click)="navCtrl.pop()">
        <ion-icon name="chevron-back" slot="icon-only" color="dark"></ion-icon>
      </ion-button>
      <ion-img slot="start" src="../../../assets/imgs/invoice-01.svg"></ion-img>
      @if(!isLoading && order){
      <h3>فاتورة {{order.orderNumber}}</h3>
      }
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <!-- Error Ele -->
    @if(error) {
    <div class="empty">
      <img src="../../../assets/imgs/logo-icon.svg" alt="">
      <h3>حدث خطا . تحقق من الشبكة</h3>
    </div>
    }


    @if(!isLoading && order){
    <div class="order-date">

      <div class="time">
        <ion-img src="../../../assets/imgs/clock-01.svg"></ion-img>
        <p> {{order.deliveryDate|timeFormate:'time'	}} </p>
      </div>
      <div class="date">
        <ion-img src="../../../assets/imgs/calendar-03.svg"></ion-img>
        <p> {{order.deliveryDate|timeFormate:'date'	}} </p>
      </div>
    </div>

    <div class="order">
      <div class="header">
        <section>ملخص الطلب</section>
      </div>

      <div class="order-details">
        <div>
          <div>
            <span>{{ordersProductsTotalPrice|number}}</span>
            <p>مبلغ الطلب</p>
          </div>
          <div>
            <span>{{order.discount|number}}</span>
            <p>الخصم</p>
          </div>
          <div>
            <span>{{order.service|number}}</span>
            <p>الخدمة</p>
          </div>
          @if(order.country){
          <div>
            <span>{{order.countryCost|number}}</span>
            <p>المحافظة</p>
          </div>
          }
          <!-- <div>
            <span>{{order.countryCost}}</span>
            <p>التوصيل للمحافظة</p>
          </div> -->
        </div>
        <div class="total">
          <span>{{order.total|number}}</span>
          <p>السعر الكلي</p>
        </div>
      </div>

    </div>

    <div class="products">
      <div class="header">
        <section>المنتجات</section>
      </div>

      @for(prod of billProducts;track $index){
      <div class="product" [routerLink]="`/product/${prod.product._id}`">
        <app-custom-image [mainImg]="prod.product.image"></app-custom-image>
        <div class="product-data">

          <div>
            <p>{{prod.product.name}}</p>
            <strong>{{prod.product.price|number}} د.ع</strong>
          </div>

          <div>
            <div>العدد<strong>{{prod.qty}}</strong></div>
            @if(prod.selectedAdditions){
            @for (addition of prod.selectedAdditions; track $index) {
            <div>{{addition.name}}<strong>{{addition.price}}</strong></div>
            }
            }
          </div>
        </div>
      </div>
      }


    </div>
    }

  </div>

</ion-content>