<ion-header class="main-header">

  <ion-toolbar>
    @if(!isLoading && order){
    <ion-icon slot="start" name="ellipsis-vertical" (click)="openOrderOperations($event)"></ion-icon>
    <ion-chip slot="start" *ngIf="order.status==orderStatus.WAITING" title="معلق">معلق</ion-chip>
    <ion-chip slot="start" *ngIf="order.status==orderStatus.REJECTED" title="مرفوض">مرفوض</ion-chip>
    <ion-chip slot="start" *ngIf="order.status==orderStatus.ACCEPTED" title="مكتمل">مكتمل</ion-chip>
    }

    <div slot="end">
      @if(!isLoading && order){
      <h3>فاتورة {{order.orderNumber}}</h3>
      }
      <ion-img src="../../../assets/imgs/invoice-01.svg"></ion-img>
      <ion-icon name="chevron-forward" (click)="back()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <!-- Error Ele -->
    @if(error) {
    <div class="empty">
      <img src="../../../assets/imgs/logo-icon.svg" alt="">
      <h3>حدث خطا . تحقق من الشبكة</h3>
    </div>
    }


    @if(!isLoading && order){
    <div class="order-date">

      <div class="time">
        <ion-img src="../../../assets/imgs/clock-01.svg"></ion-img>
        <p> {{order.deliveryDate|timeFormate:'time'	}} </p>
      </div>
      <div class="date">
        <ion-img src="../../../assets/imgs/calendar-03.svg"></ion-img>
        <p> {{order.deliveryDate|timeFormate:'date'	}} </p>
      </div>
    </div>

    <div class="order">
      <div class="header">
        <section>ملخص الطلب</section>
      </div>

      <div class="order-details">
        <div>
          <div>
            <span>{{ordersProductsTotalPrice|number}}</span>
            <p>مبلغ الطلب</p>
          </div>
          <div>
            <span>{{order.discount|number}}</span>
            <p>الخصم</p>
          </div>
          <div>
            <span>{{order.service|number}}</span>
            <p>الخدمة</p>
          </div>
          <div *ngIf="order.country">
            <span>{{order.countryCost|number}}</span>
            <p>المحافظة</p>
          </div>
          <!-- <div>
            <span>{{order.countryCost}}</span>
            <p>التوصيل للمحافظة</p>
          </div> -->
        </div>
        <div class="total">
          <span>{{order.total|number}}</span>
          <p>السعر الكلي</p>
        </div>
      </div>

    </div>

    <div class="products">
      <div class="header">
        <section>المنتجات</section>
      </div>

      @for(prod of billProducts;track $index){
      <div class="product" [routerLink]="`/product/${prod.product._id}`">
        <div class="product-data">

          <div>
            <strong style="direction: rtl;">{{prod.product.price|number}} د.ع</strong>
            <p>{{prod.product.name}}</p>
          </div>

          <div>
            <!-- <div *ngIf="billProducts[prod._id].extras?.size">الحجم<strong>L 0</strong></div>
            <div *ngIf="billProducts[prod._id].extras?.color">اللون<strong>أبيض 0</strong></div>-->
            <div>العدد<strong>{{prod.qty}}</strong></div>
            @if(prod.selectedAdditions){
            @for (addition of prod.selectedAdditions; track $index) {
            <div>{{addition.name}}<strong>{{addition.price}}</strong></div>
            }
            }
          </div>
        </div>
        <app-custom-image [mainImg]="prod.product.image"></app-custom-image>
      </div>
      }


    </div>
    }

  </div>

</ion-content>