<ion-header class="custom-header">

  <ion-toolbar>
    <ion-button class="no-color-button" routerLink="/cart" slot="start">
      @if((cartService.cartProducts?.length)){
      <span>{{cartService.cartProducts?.length}}</span>
      }
      <ion-img src="../../../assets/imgs/cart.svg"></ion-img>
    </ion-button>

    <ion-label slot="end">
      @if(customView=='offer'){العروض}
      @if(customView=='category'){الأقسام}
      @if(customView=='brand'){البراندات}
    </ion-label>
    <ion-button slot="end" class="no-color-button" (click)="navCtrl.pop()">
      <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <div class="container">

    <!-- Empty Ele -->
    @if(empty){
    <div class="empty fade-in">
      <ion-icon [src]="'../../../assets/imgs/logo-icon.svg'"></ion-icon>
      <h3 style="text-align: center;">...</h3>
    </div>
    }

    <!-- Error Ele -->
    @if(error) {
    <div class="empty" style="display: flex;flex-direction: column;align-items: center;">
      <img src="../../../assets/imgs/logo-icon.svg" alt="">
      <h3>حدث خطا . تحقق من الشبكة</h3>
    </div>
    }


    @if(!isLoading){
    @if(customView=='brand'){

    <div class="brands">
      @for (brand of brands; track $index) {
      <div class="brand" (click)="toSection('brand',brand._id)">
        <app-custom-image [mainImg]="brand.image"></app-custom-image>
      </div>
      }
    </div>

    }


    @if(customView=='category'){
    <div class="sections">
      @for (category of categories; track $index) {
      <div class="custom" (click)="toSection('section',category._id)">
        <app-custom-image [mainImg]="category.image"></app-custom-image>
        <p> {{category.name}}</p>
      </div>
      }
    </div>
    }


    @if(customView=='offer'){
    <div class="offers">

      @for (offer of offers; track $index) {
      <div class="offer" (click)="toSection('offer',offer._id)">
        <app-custom-image [mainImg]="offer.image" [altImg]="'../../../assets/imgs/logo-cover.png'"></app-custom-image>
        <ion-button class="no-color-button">
          <ion-label>تفقد المنتجات</ion-label>
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </div>
      }

    </div>
    }
    }

    <ion-infinite-scroll threshold="25%" [disabled]="stopLoading" position="bottom" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>


</ion-content>