/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import './theme/mixin.scss';
@import './theme/variables.scss';



$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$navIconsColor: var(--nav-icons-color);
$noneBg: var(--none-background);
$alertColor: var(--alert-color);
$lightColor:var(--ion-color-light);
$darkColor:var(--ion-color-dark);
$ionContentBG:var(--ion-content-BG);


* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  max-width: 767px;
  // padding: 0 16px;
  margin: 0 auto;
}

ion-header {
  ion-toolbar {
    background: $lightColor;
  }
}

.fade-in {
  animation: faddinAnimation .3s ease-in;
}

ion-button {
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
}

.before-discount {
  display: none;
}

.custom-loading-ele {
  position: absolute;
  z-index: 10000000;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
  @include flex(0, center, center, '');

  .img {
    @include shape(80, 80);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.hidden {
    display: none;
  }

  .circle {
    position: absolute;
    @include shape(120, 120);
    border: 2px solid $primaryColor;
    border-radius: 50%;
    border-top-color: $secondaryColor;
    border-bottom-color: var(--light-text);
    animation: spinning 1s linear infinite;
  }
}

.main-header {
  box-shadow: none;

  ion-toolbar {
    padding: 0 16px;

    >ion-img {
      @include shape(33.15, 32);
    }

    ion-button {
      --ion-color-primary: none;
      --ion-color-primary-contrast: #{$primaryColor};
      --box-shadow: none;
      position: relative;
      width: 32px;
      height: 32px;

      >span {
        position: absolute;
        background: $primaryColor;
        padding: 3px;
        border-radius: 50%;
        height: 15px;
        width: fit-content;
        color:  $lightColor;
        display: flex;
        align-items: center;
        top: 0%;
        right: 0;
      }

      ion-img {
        position: relative;
        @include shape(24, 24);
      }
    }

  }
}

.filter {
  background-color: $ionContentBG;
}

.custom-header {
  box-shadow: none;

  ion-toolbar {
    padding: 0 16px;

  }

  >img {
    width: 343px;
    height: 144px;
    object-fit: contain;
    margin: 16px auto 0;
    display: block;
    border-radius: 12px;

  }

  >ion-button {
    --padding-bottom: 8px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 8px;
    position: relative;

  }

  >ion-img {
    width: 100%;
  }

  ion-toolbar {

    >ion-button,
    ion-back-button {
      height: 32px;
      width: 32px;
      --padding-bottom: 3px;
      --padding-start: 3px;
      --padding-end: 3px;
      --padding-top: 3px;
      @include flex(0, center, center, '');

      &.no-padding {
        --padding-bottom: 0px;
        --padding-end: 0px;
        --padding-start: 0px;
        height: fit-content;
        border-radius: 50%;
      }

      span {
        position: absolute;
        background: $primaryColor;
        padding: 3px;
        height: 14px;
        width: fit-content;
        color:  $lightColor;
        border-radius: 50%;
        display: flex;
        align-items: center;
        top: 0%;
        font-size: 14px;
        right: 0px;
      }

      ion-icon {
        @include shape(24, 24)
      }
    }

    ion-button:last-of-type {
      height: 24px;
      width: 24px;

      ion-icon {
        color: black;
      }
    }

    >ion-img {
      @include shape(24, 24);
    }

    ion-button {
      min-height: 24px;
      min-width: 24px;
      --padding-bottom: 0;
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      @include flex(0, center, center, '');

      ion-icon {
        @include shape(24, 24)
      }
    }

    ion-label {
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0px;
      margin-left: 10px;
      font-family: 'Cairo'
    }

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: center;
      direction: rtl;
      font-family: 'Cairo';
      color: rgba(128, 128, 128, 1);
    }
  }

}


.page-header {
  background-color: $ionContentBG;
  display: flex;
  justify-content: center;

  >div {
    padding: 24px 16px 16px;
    max-width: 767px;
    flex-grow: 1;

    >section {
      text-align: right;
      max-width: 767px;
      height: 32px;
      margin: 0 auto 16px;
      padding: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0px;
    }

    .nav-segments {
      display: flex;
      background-color: #f6f6f6;
      // padding: 0 24px 0 8px;
      max-width: 767px;
      margin: 0 auto;

      ion-segment-button {
        font-weight: 700;
        flex-grow: 1;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        color: rgba(170, 170, 170, 1);
        border-bottom: 1px solid rgba(219, 219, 219, 1);

        &.segment-button-checked {
          color: $secondaryColor;
          --color-checked: #{$primaryColor};
          --indicator-color: #{$primaryColor};
        }
      }
    }

    .filter {

      @include flex(8, space-between, center, '');
      width: 100%;
      height: 42px;
      padding: 0;
      top: 163px;

      ion-input,
      ion-button {
        border: 1px solid rgba(219, 219, 219, 1);
        border-radius: 24px;
        overflow: hidden;
      }

      ion-input {
        flex-grow: 1;
        height: 42px;
        padding: 8px 24px 8px 12px !important;
        @include flex(0, space-between, center, '');
        text-align: right;
      }
    }
  }
}



.no-color-button {
  --ion-color-primary: none;
  --ion-color-primary-contrast: #{$primaryColor};
  --box-shadow: none;

  ion-icon {
    --ion-color-primary:#{$primaryColor};
  }
}

.header {
  width: 100%;
  height: 28px;
  @include flex(0, space-between, center, '');
  padding: 0 16px;
  margin-bottom: 8px;

  ion-skeleton-text {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-top: 5px;
  }

  section {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    @include flex(0, end, center, '');
    padding: 0;
    font-weight: 700;
    letter-spacing: 0px;
  }

  ion-button,
  ion-tab-button {
    @include shape(58, 26);
    @include flex(0, '', center, '');
  }
}

ion-content {
  --ion-background-color: #{$ionContentBG};
  // --padding-top: 52px;
}


.card {
  >.card-content {
    p {
      // makes the description appears in two lines with ellipsis text-overflow
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0px;
      text-overflow: ellipsis;
      height: 44px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  >ion-button:not(.no-color-button) {
    width: 100% !important;
  }

  >ion-button.no-color-button {
    width: 121px !important;
  }
}

.btns {
  @include flex(4, '', center, '');

  span {
    height: 26px;
    min-width: 26px;

    color:  $lightColor;
    background-color: rgba(44, 52, 84, 0.65);
    border-radius: 15px;
    @include flex(4, center, center, '');
    overflow: hidden;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;

    &.extra {
      width: 26px;
    }

    &.expanded {
      padding: 2px 8px;
      width: fit-content;
    }
  }

  ion-img,
  img {
    @include shape(18, 18);
  }
}

.empty {
  width: 100%;
  padding: 16px 0;
  text-align: center;

  ion-icon {
    // transform: rotateZ(90deg);
    font-size: 50px;
    margin: 150px 0 0 0;
  }
}

.discounts-cards,
.search-cards,
.section-cards,
.prods-cards,
.offers>.cards,
.cart-prods,
.compos,
.sections {
  display: grid !important;
  row-gap: 8px;
  column-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

  ion-button {
    color:  $lightColor !important;
  }
}

.cart-prods {
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
}

@media (768px>width>359px) {
  // .filter {
  //   padding: 0 16px !important;
  // }

  .brands-cards,
  .section-content {
    flex-direction: column !important;
    padding: 0;
    justify-content: start;
    direction: rtl;

    >div {
      overflow: auto;
    }
  }

  .prods-cards,
  .offers,
  .offers-cards {
    flex-direction: row !important;
    flex-wrap: wrap;

    .card {
      img {
        width: 100% !important;
        object-fit: fill;
      }
    }
  }

  .offers,
  .offers-cards {

    .offer,
    .card {

      img {
        width: 100% !important;
        object-fit: fill;
      }

    }
  }


  .card {
    ion-button {
      color:  $lightColor;
    }
  }
}

@media (1023px>width>768px) {

  .offers,
  .offers-cards {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: end;

    .card {

      img {
        width: 100% !important;
      }
    }
  }

  .brands-cards,
  .section-content {
    padding: 0;
    direction: rtl;

    >div {
      overflow: auto;
    }
  }

  .prods-cards {
    width: 100%;
    flex-direction: row !important;
    flex-wrap: wrap;

  }

  .discounts-cards {}

  .product {

    >img,
    >div:last-child {
      width: 100% !important;
    }

    >div:nth-child(2),
    >div:nth-child(3) {
      flex-basis: 49%;
      height: 278px;
      background:  $lightColor;
      border-right-width: 0;
      border-left-width: 0;
    }
  }

  .compo {
    flex-basis: calc((100% - 24px)/4) !important;
  }

  .compo {
    flex-grow: 0 !important;
    flex-basis: calc((100% - 32px)/5);
  }
}



@media(width>767px) {

  .custom-header ion-toolbar,
  .main-header ion-toolbar,
  .filter {
    padding: 0 calc(((100% - 768px) / 2) + 16px) !important;
  }

  .page-header {
    >div {
      // padding-left: 0;
    }
  }

  ion-footer {

    >div {
      margin: 0 auto;
      max-width: 768px;
    }
  }
}

// app-custom-image{overflow: hidden;}

ion-modal.filter-modal {
  --height: 100%;
  --width: 100%;

  ion-content {
    --padding-bottom: 16px !important;
    --padding-top: 16px !important;
    --padding-start: 16px !important;
    --padding-end: 16px !important;

    .filter-content {
      @include flex(8, center, end, column);

      >div {
        width: 100%;

        h3 {
          font-weight: 600;
          font-size: 14px;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: right;
          direction: rtl;
          margin: 0;
          color: rgba(0, 0, 0, 0.6);
        }

        &.colors {
          >ion-segment {
            display: flex;
            justify-content: end;
            gap: 4px;

            >ion-segment-button {
              --color-checked: transparent;
              --indicator-color: transparent;
              --padding-end: 0;
              --padding-bottom: 0;
              --padding-start: 0;
              min-width: 40px;
              min-height: 22px;
              border-radius: 30px;

              span {
                width: 40px;
                height: 22px;
                border-radius: 30px;
              }

              &[value=اخضر] {
                span {
                  background-color: rgba(48, 193, 167, 1);
                }
              }

              &[value=احمر] {
                span {
                  background-color: rgba(189, 3, 54, 1);
                }
              }

              &[value=ذهبي] {
                span {
                  background-color: rgba(255, 195, 0, 1);
                }
              }

              &.segment-button-checked {
                border: 1px solid $secondaryColor;
                padding: 4px;
              }
            }
          }
        }

        .checks {
          @include flex(10, start, center, '');
          flex-wrap: wrap;
          direction: rtl;

          ion-checkbox {
            background: rgba(0, 0, 0, 0.06);
            width: min-content;
            height: 36px;
            padding: 0px 12px;
            direction: ltr;
            border-radius: 16px;
            margin: 0 0px 10px 10px;
          }

          ion-checkbox::part(container) {
            @include shape(18, 18);
            border-radius: 50%;
            border-color: rgba(0, 0, 0, 0.6);
          }

          &.square-checkbox ion-checkbox::part(container) {
            @include shape(18, 18);
            border-radius: 4px;
            border-color: rgba(0, 0, 0, 0.6);
          }

          ion-checkbox::part(mark) {
            background: none;
            transition: none;
            transform: none;
            border-radius: 0;
          }

          ion-checkbox.checkbox-checked::part(container) {
            background: $primaryColor;
            border-color: transparent;
            overflow: hidden;
          }

          ion-checkbox.checkbox-checked::part(mark) {
            display: none;
          }

        }

        .range-wrapper {
          display: flex;
          align-items: center;
          position: relative;

          .fake-knob {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: rgb(229 229 229);
            z-index: 1;
            position: relative;

            &::after {
              content: "";
              top: 120%;
              font-weight: 700;
              font-size: 12px;
              line-height: 100%;
              text-align: right;
              color: rgba(0, 0, 0, 0.6);
              position: absolute;

            }
          }

          .fake-knob.start {
            left: 0;
            transform: translateX(50%);

            &::after {
              content: '105$';
            }
          }

          .fake-knob.end {
            right: 0;
            transform: translateX(-50%);

            &::after {
              content: '5$';
            }
          }

          ion-range {
            --knob-background: var(--primary-color);
            --knob-size: 24px;
            --bar-background-active: var(--primary-color);
            --bar-background: rgb(229 229 229);
            flex-grow: 1;
          }
        }
      }
    }
  }

  ion-footer {
    height: 80px;
    padding: 16px !important;
    @include flex(12, center, '', '');
    border-top: 1px solid rgba(242, 242, 242, 1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    ion-buttons {
      flex-grow: 1;
      @include flex(16px, space-evenly, center, '');

      ion-button {
        --border-radius: 10px;
        --padding-top: 8px;
        --padding-bottom: 8px;
        --padding-start: 24px;
        --padding-end: 24px;
        height: 48px;
        flex-basis: 50%;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid $primaryColor;
      }

      >ion-button:first-of-type {
        background: #{$primaryColor};
        color:  $lightColor;
      }

      >ion-button:last-of-type {
        background:  $lightColor;
        color: #{$primaryColor} !important;
      }
    }

  }
}

ion-modal.custom-modal {

  &::part(content) {
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    overflow: hidden;
  }
}

ion-modal.date-modal {
  --height: 50%;
  --width: fit-content;
  --border-radius: 20px;
  --box-shadow: 0px 0px 20px rgb(8, 158, 223) !important;
}

ion-modal.img-viewer-modal{
    --height: 100%;
    --width: 100%;
    --background: transparent;
    --backdrop-opacity: .7;
    --backdrop-filter: blur(4px);

    app-image-viewer{
      // width: 100%;
    }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes faddinAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

ion-toast {
  --ion-color-primary: rgb(75, 83, 112) !important;
  --ion-color-danger:#{$primaryColor} !important;
  direction: rtl;
}

ion-toast.global-notification {
  --height: 60px;
  --width: 100%;
  margin-top: 44px;
  --border-radius: 50px;
}

.time-picker {
  --height: 50% !important;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  --border-radius: 16px;
  --width: 300px;

  &::part(content) {
    background: transparent;
  }

  ion-content {
    --background: transparent !important;
    --ion-color-base: transparent !important;

    ion-datetime {
      border-radius: 8px;
      color: $secondaryColor;
      background-color: rgba(239, 239, 239, 1);

      &::part(time-button) {
        color: $primaryColor !important;
        background: var(--bg-gray);
      }

      &::part(calendar-day) {
        font-family: "Cairo";
      }

      &::part(calendar-day today) {
        color:  $lightColor;
      }

      ion-button:last-of-type{
        color: $secondaryColor;
      }
    }
  }
}


ion-footer {
  ion-button {
    color:  $lightColor !important;
  }
}

ion-modal.finish-order-modal,
ion-modal.branch-modal {
  --width: 100%;
  --height: 100%;
  // --border-radius: 5%;
  --background-opacity: 0.4;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

ion-modal.cancel-modal {
  --height: 100%;
  --width: 100%;

  ion-header {
    border-bottom: 1px solid rgba(219, 219, 219, 1);

    .content {
      width: 100%;
      @include flex(8, end, center, '')
    }
  }

  ion-content {
    .container {
      padding: 16px;

      ion-input {
        max-height: 52px;
        border-radius: 10px;
        padding: 0 12px !important;
        border: 1px solid rgba(219, 219, 219, 1);
        text-align: right;
        direction: rtl
      }

    }
  }

  ion-footer {
    border-top: 1px solid rgba(219, 219, 219, 1);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    height: 50px;
    @include flex(0, center, center, '');

    ion-button {
      --border-radius: 16px;
      width: 50%;

      ion-label {
        padding: 0 15px 0 0;
      }

      ion-icon {
        @include shape(16, 16);
      }
    }
  }
}


ion-alert.custom-alert {

  --ion-text-color:#{$primaryColor};

  .alert-title {
    color: $primaryColor !important;
  }

  .alert-button-group{
    direction: rtl;
  }

  .alert-button.sc-ion-alert-ios:first-of-type {
    --ion-color-primary: #{$primaryColor};
    font-weight: bold;
  }

  .sc-ion-alert-ios:last-of-type {
    --ion-color-primary: #{$secondaryColor};
    font-weight: bold;
  }
}

ion-toast.light-color {
  --box-shadow:0px 1px 5px 0px #{$secondaryColor};

  &::part(container) {
    color:  $lightColor;
  }

  toast-button-group>button {
    font-family: 'Cairo';
  }
}

ion-popover.order-options {
  --width: 120px;
  --backdrop-opacity: 0.2;

  ul {
    padding: 10px 5px 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    border-radius: 10px;
    width: 120px;

    li {
      list-style: none;

      ion-button {
        width: 100%;
        color:  $lightColor;
        --border-radius: 10px;

        ion-icon {
          transform: rotateY(180deg);
        }
      }
    }
  }
}


app-custom-image{
      overflow: hidden;
    border-radius: 6px;
}


// preserve the same colors
.dark{

.filter{
  background-color: $ionContentBG ;
}

 .card,
 ion-toolbar,
 .section-content>div>div,
 ion-footer,
 ion-tab-bar{
  --background: $lightColor !important;
  background-color: $lightColor !important;
  --ion-background-color:transparent !important;
  border-color: transparent !important;

  .addition-btns>ion-button{
    background-color: $ionContentBG !important;
    --ion-color-primary: none !important;
  }
  ion-icon,ion-button{
    color: $lightColor !important;
  }
 }

 ion-toolbar{
  ion-label{--ion-color-light: #{$darkColor};}
  ion-button:nth-child(1){--ion-color-light:#{$darkColor} !important;}
    span{color: white !important;}
    ion-button>ion-icon{ color: $darkColor !important;}

  // ion-button:not(:last-of-type){--ion-color-light:white !important;}
 }

  .page-header,.contacts>div,.user{
    background-color: $ionContentBG  !important;
    >div{>div,ion-segment{
      background-color: $ionContentBG !important;
      color: $lightColor !important;
    }
  }}

  p,section,h3,ion-input{
    color:$darkColor !important;
  }

  ion-label{
    color: $lightColor !important;
  }

  .offer{
ion-label{color: $primaryColor !important;}
  }
  ion-tab-bar{
    ion-label{
      --ion-color-secondary: rgba(128, 128, 128, 1);
      color: var(--ion-color-secondary) !important;
    }
  }

  ion-skeleton-text{
    background-color: none !important;
  }

    .add-constract{
      ion-buttons{
        color: $darkColor !important;
        ion-button{--ion-color-light: #{$darkColor} !important;}
      }
    }

    ion-alert{
      --background:#f4f8fa !important;
    }

    ion-action-sheet{
      z-index: 20006;
      --background: #f1f6f7 !important;
      --ion-color-primary: #{$secondaryColor};
      --button-background-selected: #{$lightColor};
    }

}



// .dark{

// .filter{
//   background-color: $ionContentBG !important;
// }

//  .card,ion-toolbar,.section-content>div>div,ion-footer,ion-tab-bar{
//   --background: $secondaryColor !important;
//   background-color: $secondaryColor !important;
//   border-color: transparent !important;

//   .addition-btns>ion-button{
//     background-color: $ionContentBG !important;
//     --ion-color-primary: none !important;
//   }
//   ion-icon,ion-button{
//     color: $lightColor !important;
//   }
//  }

//   .page-header,.contacts>div,.user{
//     background-color: $ionContentBG  !important;
//     >div{>div,ion-segment{
//       background-color: $ionContentBG !important;
//       color: $lightColor !important;
//     }
//   }}

//   p,section,h3,ion-label,ion-input{
//     color:$lightColor !important;
//   }
// }
