/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

@import './theme/mixin.scss';
// @import './theme/variables.scss';


* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 767px;
  // padding: 0 16px;
  margin: 0 auto;
}

ion-content {
  --ion-background-color: #{var(--ion-content-BG)};

  &::part(scroll) {
    scrollbar-width: none;
  }
}

ion-icon[name=chevron-down-outline] {
  color: var(--ion-color-primary) !important;
}

/* Apply padding only on Android | Ios devices */
ion-header {
  background-color: white;
  padding-top: var(--ion-safe-area-top, env(safe-area-inset-top), 0px);
  box-shadow: none !important;

  ion-toolbar {
    background: var(--ion-color-light);
    padding: 8px 16px;

    // cart badge style
    ion-button {
      span {
        position: absolute;
        background: var(--ion-color-primary);
        padding: 3px;
        border-radius: 50%;
        height: 15px;
        width: fit-content;
        color: var(--ion-color-light);
        display: flex;
        align-items: center;
        top: 0%;
        right: 0;
      }

      &.cart {
        @include shape(40, 40);
      }
    }
  }
}

.fade-in {
  animation: faddinAnimation .3s ease-in;
}

ion-button {
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
}

.before-discount {
  display: none;
}

// Custom Loading Elements
.custom-loading-ele {
  position: absolute;
  z-index: 10000000;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
  @include flex(0, center, center, '');

  .img {
    @include shape(80, 80);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.hidden {
    display: none;
  }

  .circle {
    position: absolute;
    @include shape(150, 150);
    border: 2.5px solid var(--ion-color-primary);
    border-color: var(--ion-color-secondary) var(--ion-color-primary);
    animation: spinning 1s linear infinite alternate;
  }
}

// Empty View
.empty {
  width: 100%;
  height: 50vh;
  padding: 16px 0;
  text-align: center;

  ion-icon {
    // transform: rotateZ(90deg);
    font-size: 50px;
    margin: 150px 0 0 0;
  }
}

.filter {
  background-color: var(--ion-content-BG);
}

.cart-prods {
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
}

@media(width>767px) {

  ion-toolbar,
  .filter {
    padding: 0 calc(((100% - 768px) / 2) + 16px) !important;
  }

  ion-footer {
    >div {
      margin: 0 auto;
      max-width: 768px;
    }
  }
}

// app-custom-image{overflow: hidden;}

ion-modal.edit-modal {
  --width: 250px;
  --height: 15em;
  --border-radius: 2em;
}

ion-modal.date-modal {
  --height: 50%;
  --width: fit-content;
  --border-radius: 20px;
  --box-shadow: 0px 0px 20px rgb(8, 158, 223) !important;
}

ion-modal.img-viewer-modal {
  --height: 100%;
  --width: 100%;
  --background: transparent;
  --backdrop-opacity: .7;
  --backdrop-filter: blur(4px);
}

ion-modal.custom-modal {

  &::part(content) {
    overflow: hidden;
  }
}

@keyframes spinning {
  0% {
    transform: rotateZ(0deg);
    border-radius: 50%;
    border-width: 6px 1.5px;
  }

  100% {
    transform: rotateZ(360deg);
    border-radius: 50%;
    border-width: 1.5px 6px;
  }
}

@keyframes faddinAnimation {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

ion-toast {
  margin-top: 1.65em;
  --ion-color-primary: rgb(75, 83, 112) !important;
  --ion-color-danger:var(--ion-color-primary) !important;
}

ion-toast.global-notification {
  --height: 60px;
  --width: 100%;
  margin-top: 1.65em;
  --border-radius: 50px;
}

.time-picker {
  --height: 50% !important;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  --border-radius: 16px;
  --width: 300px;

  &::part(content) {
    background: transparent;
  }

  ion-content {
    --background: transparent !important;
    --ion-color-base: transparent !important;

    ion-datetime {
      border-radius: 8px;
      color: var(--ion-color-secondary);
      background-color: rgba(239, 239, 239, 1);

      &::part(time-button) {
        color: var(--ion-color-primary) !important;
        background: var(--bg-gray);
      }

      &::part(calendar-day) {
        font-family: "Cairo";
      }

      &::part(calendar-day today) {
        color: var(--ion-color-light);
      }

      ion-button:last-of-type {
        color: var(--ion-color-secondary);
      }
    }
  }
}

ion-footer {
  ion-button {
    color: var(--ion-color-light) !important;
  }
}

ion-modal.finish-order-modal,
ion-modal.branch-modal {
  --width: 100%;
  --height: 100%;
  // --border-radius: 5%;
  --background-opacity: 0.4;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

ion-modal.cancel-modal {
  --height: 100%;
  --width: 100%;

  ion-header {
    border-bottom: 1px solid rgba(219, 219, 219, 1);

    .content {
      width: 100%;
      @include flex(8, end, center, '')
    }
  }

  ion-content {
    .container {
      padding: 16px;

      ion-input {
        max-height: 52px;
        border-radius: 10px;
        padding: 0 12px !important;
        border: 1px solid rgba(219, 219, 219, 1);
        text-align: right;
      }
    }
  }

  ion-footer {
    border-top: 1px solid rgba(219, 219, 219, 1);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    height: 50px;
    @include flex(0, center, center, '');

    ion-button {
      --border-radius: 16px;
      width: 50%;

      ion-label {
        padding: 0 15px 0 0;
      }

      ion-icon {
        @include shape(16, 16);
      }
    }
  }
}

ion-alert.custom-alert {

  --ion-text-color:var(--ion-color-primary);

  .alert-title {
    color: var(--ion-color-primary) !important;
  }

  .alert-button.sc-ion-alert-ios:last-of-type {
    font-weight: bold;
  }

  .sc-ion-alert-ios:first-of-type {
    --ion-color-primary: var(--ion-color-secondary);
    font-weight: bold;
  }
}

ion-toast.light-color {
  --box-shadow:0px 1px 5px 0px var(--ion-color-secondary);

  &::part(container) {
    color: var(--ion-color-light);
  }

  &::part(cancel) {
    font-family: 'Cairo';
  }
}

ion-popover.order-options {
  --width: 120px;
  --backdrop-opacity: 0.2;

  ul {
    padding: 10px 5px 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    border-radius: 10px;
    width: 120px;

    li {
      list-style: none;

      ion-button {
        width: 100%;
        color: var(--ion-color-light);
        --border-radius: 10px;

        ion-icon {
          transform: rotateY(180deg);
        }
      }
    }
  }
}

ion-popover.account-options {
  --width: 160px;
  --backdrop-opacity: 0.2;

}

app-custom-image {
  overflow: hidden;
  border-radius: 6px;
}

// preserve the same colors
.dark {
  .refresher-refreshing-icon {
    background-color: var(--ion-color-light) !important;
    border: none !important;
  }

  strong {
    color: var(--ion-color-dark);
  }

  .filter {
    background-color: var(--ion-content-BG) ;
  }

  ion-toolbar,
  ion-tab-bar {
    --background: var(--ion-color-light) !important;
    background-color: var(--ion-color-light) !important;
    --ion-background-color: transparent !important;
    border-color: transparent !important;

    .addition-btns>ion-button {
      background-color: var(--ion-content-BG) !important;
      --ion-color-primary: none !important;
    }

    ion-icon,
    ion-button {
      color: var(--ion-color-light) !important;
    }
  }

  ion-toolbar {
    ion-label {
      --ion-color-light: var(--ion-color-dark);
    }

    ion-button:nth-child(1) {
      --ion-color-light:var(--ion-color-dark) !important;
    }

    span {
      color: white !important;
    }

    ion-button>ion-icon {
      color: var(--ion-color-dark) !important;
    }
  }

  p,
  section,
  h3,
  ion-input {
    color: var(--ion-color-dark) !important;
  }

  ion-label {
    color: var(--ion-color-light) !important;
  }

  .offer {
    ion-label {
      color: var(--ion-color-primary) !important;
    }
  }

  ion-tab-bar {
    ion-label {
      --ion-color-secondary: rgba(128, 128, 128, 1);
      color: var(--ion-color-secondary) !important;
    }
  }

  ion-skeleton-text {
    background: linear-gradient(90deg, rgba(218, 206, 206, 0.5098039216), rgba(207, 207, 207, 0), rgba(218, 206, 206, 0.5098039216));
    animation-duration: 4s;
    animation-timing-function: ease-in;
  }

  .add-constract {
    ion-buttons {
      color: var(--ion-color-dark) !important;

      ion-button {
        --ion-color-light: var(--ion-color-dark) !important;
      }
    }
  }

  ion-alert {
    --background: #f4f8fa !important;
  }

  ion-action-sheet {
    z-index: 20006;
    --background: #f1f6f7 !important;
    --ion-color-primary: var(--ion-color-secondary);
    --button-background-selected: var(--ion-color-light);
  }
}
