/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import './theme/mixin.scss';
@import './theme/variables.scss';



$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$navIconsColor: var(--nav-icons-color);
$noneBg: var(--none-background);
$alertColor: var(--alert-color);


* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-header {
  background: white;
}

.fade-in {
  animation: faddinAnimation .3s ease-in;
}

ion-button {
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
}

.before-discount {
  display: none;
}

.custom-loading-ele {
  position: absolute;
  z-index: 10000000;
  top: 0;
  left: 0;
  background-color: #45262642;
  width: 100%;
  height: 100%;
  @include flex(0, center, center, '');

  .img {
    @include shape(80, 80);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.hidden {
    display: none;
  }

  .circle {
    position: absolute;
    @include shape(120, 120);
    border: 2px solid $primaryColor;
    border-radius: 50%;
    border-top-color: $secondaryColor;
    border-bottom-color: var(--light-text);
    animation: spinning 1s linear infinite;
  }
}

.main-header {
  box-shadow: none;
  @include flex(0, space-between, center, '');
  width: 100%;
  height: 52px;
  background-color: white;
  padding: 8px 16px;

  >ion-img {
    @include shape(33.15, 32);
  }

  .buttons {
    @include shape(64, 24);
    @include flex(16, '', center, '');

    ion-button {
      --ion-color-primary: none;
      --ion-color-primary-contrast: #{$primaryColor};
      --box-shadow: none;
      position: relative;

      >span {
        position: absolute;
        background: #ff000063;
        padding: 3px;
        border-radius: 50%;
        height: 15px;
        width: fit-content;
        color: white;
        display: flex;
        align-items: center;
        top: 0%;
        right: 0;
      }

      ion-img {
        position: relative;
        @include shape(24, 24);
      }
    }

  }
}

.custom-header {
  padding: 0 16px;
  box-shadow: none;

  >img {
    width: 343px;
    height: 144px;
    object-fit: contain;
    margin: 16px auto 0;
    display: block;
    border-radius: 12px;

  }

  >ion-button {
    --padding-bottom: 8px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 8px;
    position: relative;

  }

  >ion-img {
    width: 100%;
  }

  .content {
    height: 52px;
    padding: 8px 0;
    @include flex(0, space-between, center, '');
    border-bottom: 1px solid rgba(242, 242, 242, 1);

    >ion-button,
    ion-back-button {
      min-height: 24px;
      min-width: 24px;
      --padding-bottom: 3px;
      --padding-start: 3px;
      --padding-end: 3px;
      --padding-top: 3px;
      @include flex(0, center, center, '');

      &.no-padding {
        --padding-bottom: 0px;
        --padding-end: 0px;
        --padding-start: 0px;
        height: fit-content;
        border-radius: 50%;
      }


      >span {
        position: absolute;
        background: dodgerblue;
        padding: 3px;
        height: 14px;
        width: fit-content;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        top: 0%;
        font-size: 12px;
        right: 0px;
      }

      ion-icon {
        @include shape(24, 24)
      }
    }

    >ion-img {
      @include shape(24, 24);
    }

    div {
      @include flex(8, end, center, '');

      ion-button {
        min-height: 24px;
        min-width: 24px;
        --padding-bottom: 0;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        @include flex(0, center, center, '');

        ion-icon {
          @include shape(24, 24)
        }
      }

      ion-label {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0px;
      }

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        color: rgba(128, 128, 128, 1);
      }
    }
  }

}

.no-color-button {
  --ion-color-primary: none;
  --ion-color-primary-contrast: #{$primaryColor};
  --box-shadow: none;

  ion-icon {
    --ion-color-primary:#{$primaryColor};
  }
}

.header {
  width: 100%;
  height: 28px;
  @include flex(0, space-between, center, '');
  padding: 0 16px;
  margin-bottom: 8px;

  ion-skeleton-text {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-top: 5px;
  }

  section {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    @include flex(0, end, center, '');
    padding: 0;
    font-weight: 700;
    letter-spacing: 0px;
  }

  ion-button,
  ion-tab-button {
    @include shape(58, 26);
    @include flex(0, '', center, '');
  }
}

ion-content {
  --ion-background-color: #f6f6f6;
  --padding-top: 52px;
}


.card {
  >.card-content {}

  >ion-button:not(.no-color-button) {
    width: 100% !important;
  }

  >ion-button.no-color-button {
    width: 121px !important;
  }
}

.btns {
  @include flex(4, '', center, '');

  span {
    height: 26px;
    min-width: 26px;

    color: white;
    background-color: rgba(44, 52, 84, 0.65);
    border-radius: 15px;
    @include flex(4, center, center, '');
    overflow: hidden;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;

    &.extra {
      width: 26px;
    }

    &.expanded {
      padding: 2px 8px;
      width: fit-content;
    }
  }

  ion-img {
    @include shape(18, 18);
  }
}

.empty {
  display: flex;
  align-items: center;
  flex-direction: column;

  ion-icon {
    transform: rotateZ(90deg);
    font-size: 50px;
    margin: 150px 0 50px 0;
  }
}

.discount-cards,
.section-cards,
.prods-cards,
.offers>.cards,
.discounts-cards,
.compos {

  display: grid !important;
  row-gap: 8px;
  column-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

}

@media(width<360px) {}

@media (360px<=width<375px) {}




@media (768px>width>359px) {

  .brands-cards,
  .section-content {
    flex-direction: column !important;
    padding: 0;
    justify-content: start;
    direction: rtl;

    >div {
      overflow: auto;
    }
  }

  .prods-cards,
  .offers,
  .offers-cards {
    flex-direction: row !important;
    flex-wrap: wrap;

    .card {


      img {
        width: 100% !important;
        object-fit: fill;
      }

    }
  }

  .offers,
  .offers-cards {

    .offer,
    .card {

      img {
        width: 100% !important;
        object-fit: fill;
      }

    }
  }

  .sections,
  .brands {

    .section,
    .brand {
      flex-grow: 0 !important;
    }
  }

  .cards .card {}
}

@media(767px>width>595px) {}

@media (1023px>width>768px) {

  .offers,
  .offers-cards {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: end;

    .card {

      img {
        width: 100% !important;
      }
    }
  }

  .brands-cards,
  .section-content {
    padding: 0;
    direction: rtl;

    >div {
      overflow: auto;
    }
  }

  .prods-cards {
    width: 100%;
    flex-direction: row !important;
    flex-wrap: wrap;

  }

  .discounts-cards {}

  .product {

    >img,
    >div:last-child {
      width: 100% !important;
    }

    >div:nth-child(2),
    >div:nth-child(3) {
      flex-basis: 49%;
      height: 278px;
      background: white;
      border-right-width: 0;
      border-left-width: 0;
    }
  }

  .compo {
    flex-basis: calc((100% - 24px)/4) !important;
  }


  .account-data,
  .my-orders-cards {}


  .compo {
    flex-grow: 0 !important;
    flex-basis: calc((100% - 32px)/5);
  }


  .sections,
  .brands {

    .section,
    .brand {
      flex-grow: 0 !important;
    }
  }


}

@media (width>1023px) {

  .brands-cards,
  .section-content {
    padding: 0;
    direction: rtl;

    >div {
      overflow: auto;
    }
  }

  .offers,
  .offers-cards {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: end;

    .offer {

      img {
        width: 100% !important;
      }
    }
  }

  .cards {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: end;

  }



  .account-data,
  .my-orders-cards {
    .card {
      flex-basis: calc((100% - 16px)/3) !important;
      flex-grow: 0 !important;
    }
  }

  .discounts-cards {}

  .sections,
  .brands {

    .section,
    .brand {
      flex-grow: 0 !important;
    }
  }

}

ion-modal.filter {
  ion-content {
    --padding-bottom: 16px !important;
    --padding-top: 16px !important;
    --padding-start: 16px !important;
    --padding-end: 16px !important;

    .filter-content {
      @include flex(8, center, end, column);

      >div {
        width: 100%;

        h3 {
          font-weight: 600;
          font-size: 14px;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: right;
          direction: rtl;
          margin: 0;
          color: rgba(0, 0, 0, 0.6);
        }

        &.colors {
          >ion-segment {
            display: flex;
            justify-content: end;
            gap: 4px;

            >ion-segment-button {
              --color-checked: transparent;
              --indicator-color: transparent;
              --padding-end: 0;
              --padding-bottom: 0;
              --padding-start: 0;
              min-width: 40px;
              min-height: 22px;
              border-radius: 30px;

              span {
                width: 40px;
                height: 22px;
                border-radius: 30px;
              }

              &[value=اخضر] {
                span {
                  background-color: rgba(48, 193, 167, 1);
                }
              }

              &[value=احمر] {
                span {
                  background-color: rgba(189, 3, 54, 1);
                }
              }

              &[value=ذهبي] {
                span {
                  background-color: rgba(255, 195, 0, 1);
                }
              }

              &.segment-button-checked {
                border: 1px solid $secondaryColor;
                padding: 4px;
              }
            }
          }
        }

        .checks {
          @include flex(10, start, center, '');
          flex-wrap: wrap;
          direction: rtl;

          ion-checkbox {
            background: rgba(0, 0, 0, 0.06);
            width: min-content;
            height: 36px;
            padding: 0px 12px;
            direction: ltr;
            border-radius: 16px;
            margin: 0 0px 10px 10px;
          }

          ion-checkbox::part(container) {
            @include shape(18, 18);
            border-radius: 50%;
            border-color: rgba(0, 0, 0, 0.6);
          }

          &.square-checkbox ion-checkbox::part(container) {
            @include shape(18, 18);
            border-radius: 4px;
            border-color: rgba(0, 0, 0, 0.6);
          }

          ion-checkbox::part(mark) {
            background: none;
            transition: none;
            transform: none;
            border-radius: 0;
          }

          ion-checkbox.checkbox-checked::part(container) {
            background: $primaryColor;
            border-color: transparent;
            overflow: hidden;
          }

          ion-checkbox.checkbox-checked::part(mark) {
            display: none;
          }

        }

        .range-wrapper {
          display: flex;
          align-items: center;
          position: relative;

          .fake-knob {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: rgb(229 229 229);
            z-index: 1;
            position: relative;

            &::after {
              content: "";
              top: 120%;
              font-weight: 700;
              font-size: 12px;
              line-height: 100%;
              text-align: right;
              color: rgba(0, 0, 0, 0.6);
              position: absolute;

            }
          }

          .fake-knob.start {
            left: 0;
            transform: translateX(50%);

            &::after {
              content: '105$';
            }
          }

          .fake-knob.end {
            right: 0;
            transform: translateX(-50%);

            &::after {
              content: '5$';
            }
          }

          ion-range {
            --knob-background: var(--primary-color);
            --knob-size: 24px;
            --bar-background-active: var(--primary-color);
            --bar-background: rgb(229 229 229);
            flex-grow: 1;
          }
        }
      }
    }
  }

  ion-footer {
    height: 80px;
    padding: 16px;
    @include flex(12, center, '', '');
    border-top: 1px solid rgba(242, 242, 242, 1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    ion-buttons {
      flex-grow: 1;
      @include flex(16px, space-evenly, center, '');

      ion-button {
        --border-radius: 10px;
        --background: #{$primaryColor};
        --padding-top: 8px;
        --padding-bottom: 8px;
        --padding-start: 24px;
        --padding-end: 24px;
        height: 48px;
        flex-basis: 50%;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        --background: white;
        --color: #{$primaryColor};
        border-radius: 10px;
        border: 1px solid $primaryColor;
      }

      >ion-button:first-of-type {
        --background: #{$primaryColor};
        --color: white;
      }
    }

  }
}

ion-modal.custom-modal {

  &::part(content) {
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    overflow: hidden;
  }

  // ion-header{
  //   --border-radius:15px;
  // }

  ion-content {
    --background: white;
    --padding-top: 0;
  }

  // .custom-header {
  //   ion-button {
  //     @include flex(0, center, center, '');
  //     border-radius: 50%;
  //     background: rgba(240, 239, 239, 1);
  //     --padding-bottom: 10px;
  //     --padding-end: 10px;
  //     --padding-start: 10px;
  //     --padding-top: 10px;
  //     @include shape(36, 36);

  //     ion-icon {
  //       @include shape(16, 16)
  //     }
  //   }
  // }


  // .container {
  //   .compos {
  //     @include flex(8, '', '', '');
  //     flex-wrap: wrap;
  //     direction: rtl;
  //     padding: 16px;

  //     .compo {
  //       @include shape(109, 169);
  //       @include flex(8, '', center, column);
  //       // flex-grow: 1;
  //       flex-basis: calc((100% - 16px)/3);
  //       background-color: white;
  //       border-radius: 12px;
  //       border: 1px solid rgba(240, 239, 239, 1);
  //       padding: 8px;

  //       &.checked {
  //         border-color: $primaryColor;
  //       }

  //       ion-img {
  //         @include shape(93, 93)
  //       }

  //       p {
  //         height: 52px;
  //         font-weight: 600;
  //         font-size: 14px;
  //         line-height: 26px;
  //         letter-spacing: 0px;
  //         text-align: center;
  //       }
  //     }
  //   }
  // }
}


@media (width>900px) {

  ion-header,
  ion-footer {
    padding-right: calc(20% + 32px) !important;
    padding-left: calc(20% + 32px) !important;
  }

  ion-header.modal-header,
  ion-header.custom-compo-header {
    width: 100%;
    padding: 0 16px !important;
  }

  .container:not(.modal-container) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .container.custom-compo-container {
    width: 100%;
  }
}



@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes faddinAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
